@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/vendor/custom/icomoon.eot?48dn61');
  src:  url('/fonts/vendor/custom/icomoon.eot?48dn61#iefix') format('embedded-opentype'),
    url('/fonts/vendor/custom/icomoon.ttf?48dn61') format('truetype'),
    url('/fonts/vendor/custom/icomoon.woff?48dn61') format('woff'),
    url('/fonts/vendor/custom/icomoon.svg?48dn61#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-view:before {
  content: "\e900";
  color: #90a0b7;
}
.icon-video:before {
  content: "\e901";
  color: #90a0b7;
}
.icon-user:before {
  content: "\e902";
  color: #90a0b7;
}
.icon-slider:before {
  content: "\e903";
  color: #90a0b7;
}
.icon-shopping-cart:before {
  content: "\e904";
  color: #90a0b7;
}
.icon-shop:before {
  content: "\e905";
  color: #90a0b7;
}
.icon-Settings:before {
  content: "\e906";
  color: #90a0b7;
}
.icon-services:before {
  content: "\e907";
  color: #90a0b7;
}
.icon-security:before {
  content: "\e908";
  color: #90a0b7;
}
.icon-search:before {
  content: "\e909";
  color: #90a0b7;
}
.icon-sale:before {
  content: "\e90a";
  color: #90a0b7;
}
.icon-return:before {
  content: "\e90b";
  color: #90a0b7;
}
.icon-request:before {
  content: "\e90c";
  color: #90a0b7;
}
.icon-question:before {
  content: "\e90d";
  color: #90a0b7;
}
.icon-print:before {
  content: "\e90e";
  color: #90a0b7;
}
.icon-plus:before {
  content: "\e90f";
  color: #90a0b7;
}
.icon-phone:before {
  content: "\e910";
  color: #90a0b7;
}
.icon-partners:before {
  content: "\e911";
  color: #90a0b7;
}
.icon-order:before {
  content: "\e912";
  color: #90a0b7;
}
.icon-options:before {
  content: "\e913";
  color: #90a0b7;
}
.icon-off:before {
  content: "\e914";
  color: #90a0b7;
}
.icon-news:before {
  content: "\e915";
  color: #90a0b7;
}
.icon-move:before {
  content: "\e916";
  color: #90a0b7;
}
.icon-minus:before {
  content: "\e917";
  color: #90a0b7;
}
.icon-message:before {
  content: "\e918";
  color: #90a0b7;
}
.icon-menu-burger:before {
  content: "\e919";
  color: #90a0b7;
}
.icon-main:before {
  content: "\e91a";
  color: #90a0b7;
}
.icon-info:before {
  content: "\e91b";
  color: #90a0b7;
}
.icon-import:before {
  content: "\e91c";
  color: #90a0b7;
}
.icon-image:before {
  content: "\e91d";
  color: #90a0b7;
}
.icon-home:before {
  content: "\e91e";
  color: #90a0b7;
}
.icon-futer:before {
  content: "\e91f";
  color: #90a0b7;
}
.icon-folder_open:before {
  content: "\e920";
  color: #90a0b7;
}
.icon-folder:before {
  content: "\e921";
  color: #90a0b7;
}
.icon-filter:before {
  content: "\e922";
  color: #90a0b7;
}
.icon-edit:before {
  content: "\e923";
  color: #90a0b7;
}
.icon-down:before {
  content: "\e924";
  color: #90a0b7;
}
.icon-dollar:before {
  content: "\e925";
  color: #90a0b7;
}
.icon-descargar:before {
  content: "\e926";
  color: #90a0b7;
}
.icon-delete:before {
  content: "\e927";
  color: #90a0b7;
}
.icon-data-display_1-1:before {
  content: "\e928";
  color: #90a0b7;
}
.icon-data-display_1:before {
  content: "\e929";
  color: #90a0b7;
}
.icon-copy:before {
  content: "\e92a";
  color: #90a0b7;
}
.icon-coment:before {
  content: "\e92b";
  color: #90a0b7;
}
.icon-close:before {
  content: "\e92c";
  color: #90a0b7;
}
.icon-check:before {
  content: "\e92d";
  color: #90a0b7;
}
.icon-catalog:before {
  content: "\e92e";
  color: #90a0b7;
}
.icon-card:before {
  content: "\e92f";
  color: #90a0b7;
}
.icon-calendar:before {
  content: "\e930";
  color: #90a0b7;
}
.icon-arrow_down:before {
  content: "\e931";
  color: #90a0b7;
}
.icon-arrow:before {
  content: "\e932";
  color: #334d6e;
}
.icon-analitica:before {
  content: "\e933";
  color: #90a0b7;
}
