.section-panel-wrapper{
    background-color: #F5F6F8;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.panel-wrapper{
    display: flex;
    justify-content: flex-start;
}
.section-panel-card{
    margin: 32px 32px 24px 24px;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    position: relative;
}
.container-wrapper .section-panel-card{
    margin: 0;
}
.display-wrapper .section-panel-card{
   margin:  unset;
    width: auto;
}
.display-wrapper{
    width: 100%;
    height: 100%;
}
.composed-panels .section-panel-card{
    height: auto;
}
.edit-dialog-trigger{
    cursor: pointer;
}
.form-panel{
    width: 100%;
}

.section-panel-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-panel-form-container.tabbed .form-head-panel{
    height: 0;
}
.section-panel-form-container.tabbed .form-head-actions-block{
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
}
.section-panel-form-container.tabbed .button-item-back{
    position: absolute;
    top: -20px;
    left: 0;
}
.form-head-actions-block .action-item{
    padding-bottom: 5px;
}
.form-head-actions-block{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.form-head-panel .form-head-title{
    padding-top: 20px;
}
.form-head-panel .form-head-title span{
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #192A3E;
}
.form-head-panel{
    display: flex;
    justify-content: space-between;
}
.form-head-panel .form-head-panel-component{
    padding: 15px 24px 0 24px;
}
.form-head-panel .form-head-title{
    padding: 15px 0 0 24px;
}
.form-body{
    padding: 10px 24px;
}
.form-footer-actions .button-item{
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    min-width: 160px!important;
    text-transform: unset!important;
}
.form-footer-actions{
    border-top: 1px solid #EBEFF2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 24px;
}
.v-input__slot fieldset{
    background: #FFFFFF;
    border: 1px solid rgba(144, 160, 183, 0.5);
    border-radius: 4px;
}
.v-select__slot{
    min-height: 24px!important;
}
.v-list-item__title{
    padding-left: 12px;
}
.v-select__slot input{
    padding: 0;
}
.section-form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-component .form-component-input{
    max-width: 256px;
}
.form-component.wide .form-component-input{
    max-width: 600px;
}
.form-component.bordered .form-component-input{
    border: 1px solid rgba(144, 160, 183, 0.5);
    border-radius: 4px;
}
.depended-component-block{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 10px;
}
.form-component .image-uploader{
    padding-bottom: 30px;
}
.form-component .text-area-container{
    padding-bottom: 30px;
    width: 100%;
}
.form-component .ck-container{
    padding-bottom: 30px;
    width: 100%;
}
.form-component .ck-container .ck .ck-content{
    min-height: 200px;
}
.form-component .checkbox-container{
    padding-bottom: 20px;
}
.form-component .checkbox-container .checkbox-item{
    margin-top: 0;
    padding-top: 0;
}
.form-component .tree-select-container{
    padding-bottom: 20px;
}
.form-component .radio-group{
    padding-top: 0!important;
    margin-top: 0!important;
}
.form-component .form-component-label{
    width: 150px;
    height: auto;
}
.form-component .form-component-label{
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #192A3E;
    padding-top: 8px;
}
.form-component .form-component-input, .form-component .custom-select *{
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #192A3E;
}
.form-component .custom-select .error--text *{
    color: #ff5252 !important;
    caret-color: #ff5252 !important;
}
.custom-select.hide-details .v-text-field__details{
    display: none;
}
.light{
    color: #70829A;
}
.form-component .form-component-help-text{
    font-size: 12px;
    color: #70829A;
    width: 100px;
}
.depended-component-block{
    padding-bottom: 20px;
}
.depended-component-block .form-component-label{
    font-size: 12px;
    line-height: 14px;
    padding-top: 8px;
}
.form-component .form-component-input.max-width-100{
    max-width: 100%;
}
.section-panel-card .v-data-table td{
    font-size: 12px;
    line-height: 14px;
    padding: 16px 6px 16px 14px;
}
.v-chip.wide{
    width: 100px;
    height: 20px;
    border-radius: 4px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 10px;
    font-weight: 600;
    justify-content: center;
    padding: 0;
}
.v-chip.rounded{
    padding: 3px 5px 2px 5px;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    height: auto;
}
.v-chip.round{
    padding: 0;
}

.border-full-width {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #EBEFF2;
}
.form-group-components{
    padding-top: 40px;
}
.component-actions-block{
    display: flex;
}
.custom-block{
    display: flex;
    align-items: center;
}
.custom-block .custom-btn{
    text-decoration: unset;
}
.custom-block .custom-btn span:before{
    color: #90A0B7;
    font-size: 20px;
}
.custom-block .custom-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #90A0B7;
    text-decoration: unset;
    padding-left: 8px;
}
.custom-block .custom-link:hover {
    text-decoration: underline;
}
.view-component-container .text-title,.view-component-container .text-info{
    font-size: 12px;
    line-height: 14px;
}
.view-component-container .text-info,.view-component-container .text-info *{
    font-weight: 400;
    color: #70829A;
}
.view-component-container .text-title,.view-component-container .text-title *{
    font-weight: 600;
    color: #192A3E;
}
.view-component-container .icon{
    font-size: 18px;
}
.view-component-container .group{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.column-preview-block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-decoration: none;
}
.column-preview-block *{
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #70829A;
}

.column-preview-block .title-text{
    color: #192A3E;
}
.column-preview-block .photo-preview{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}
.column-preview-block .photo-preview img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.link-button-component{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: unset;
    border: 1px solid #109CF1;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 16px;
    width: max-content;
    color: #109CF1;
    margin: auto;
    cursor: pointer;
}
.link-button-component a{
    text-decoration: unset;
}
.link-button-component:hover{
    box-shadow: inset 0px 0px 5px 1px #109cf173;
}
.link-button-component .icon:before{
    color: #109CF1;
}
.custom-select-component {
    width: 290px;
    height: 28px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid rgba(144, 160, 183, 0.5);
    position: relative;
    letter-spacing: 0.05em;
    max-width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px;
}
.custom-select-component__trigger{
    padding-left: 0px;
    width: 100%;
}
.arrow::before {
    left: -4px;
    transform: rotate(45deg);
    background-color: #000;
    opacity: 50%;
}
.arrow {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 10px;
    width: 10px;
}
.arrow::after {
    left: 3px;
    transform: rotate(-45deg);
    background-color: #000;
    opacity: 50%;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.01rem;
    height: 100%;
    transition: all 0.5s;
}
.custom-select-component .custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.custom-select-component .custom-options {
    max-height: 250px;
    background-color: #fff;
    overflow-y: scroll;
    z-index: 100;
}
.custom-select-component.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    border-radius: 0 0 4px 4px;
}
.custom-select-component .custom-option {
    position: relative;
    display: block;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-select-component .input-search{
    height: 25px;
    width: 80%;
}
.statistic-info-panel .color-preview{
    width: 10px;
    height: 10px;
    border-radius: 25px;
    margin: auto;
}
.statistic-info-panel .title{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding: 16px;
}
.statistic-info-panel .v-data-table td{
    height: 36px;
    padding: 10px 6px;
}
.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {
    align-items: stretch;
    min-height: 32px;
}
.v-text-field--outlined.v-input--dense.v-text-field--outlined>.v-input__control>.v-input__slot{
    min-height: 32px;
}
.v-text-field--enclosed .v-input__append-inner{
    margin-top: 3px;
}
.v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__append-inner{
    margin-top: 5px;
}
.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot {
    padding: 0 6px 0 12px;
}
.switch-form-component{
    margin-top: 0!important;
}
.max-width-30px
{
    max-width: 30px!important;
}
.max-width-40px
{
    max-width: 40px!important;
}
.max-width-50px
{
    max-width: 50px!important;
}
.max-width-75px
{
    max-width: 75px;
}
.max-width-100px
{
    max-width: 100px;
}
.max-width-150px
{
    max-width: 150px!important;
}
.max-width-175px
{
    max-width: 175px!important;
}
.max-width-200px
{
    max-width: 200px;
}
.max-width-250px
{
    max-width: 250px;
}
.max-width-275px
{
    max-width: 275px;
}
.max-width-300px
{
    max-width: 300px;
}
.max-width-475px
{
    max-width: 475px!important;
}
.max-width-800px
{
    max-width: 800px;
}
.width-50pr{
    width: 50%;
}
.width-50px{
    width: 50px;
}
.width-100px{
    width: 100px;
}
.width-150px{
    width: 150px;
}
.width-200px{
    width: 200px;
}
.width-300px{
    width: 300px;
}
.width-330px{
    width: 330px;
}
.max-width-100pr
{
    max-width: 100%!important;
}
.width-100pr
{
    width: 100%!important;
}
.height-24px{
    height: 24px;
}
.height-30px{
    height: 30px;
}
.height-35px{
    height: 35px;
}
.height-65px{
    height: 65px;
}
.border-right{
    border-right: 1px solid #EBEFF2;
}
.border-left{
    border-left: 1px solid #EBEFF2;
}
.border-top{
    border-top: 1px solid #EBEFF2;
}
.border-bottom{
    border-bottom: 1px solid #EBEFF2;
}
.weight-400,.weight-400 *{
    font-weight: 400;
}
.weight-500,.weight-500 *{
    font-weight: 500;
}
.weight-600,.weight-600 *{
    font-weight: 600;
}
.weight-700,.weight-700 *{
    font-weight: 700;
}
.weight-800,.weight-800 *{
    font-weight: 800;
}
.fs-12px, .fs-12px *{
    font-size: 12px;
}
.fs-14px, .fs-14px *{
    font-size: 14px;
}
.fs-16px, .fs-16px *{
    font-size: 16px;
}
.fs-18px, .fs-18px *{
    font-size: 18px;
}
.fs-20px, .fs-20px *{
    font-size: 20px;
}
.fs-22px, .fs-22px *{
    font-size: 22px;
}
.fw-400{
    font-weight: 400;
}
