<template>
   <div class="section-panel-form-container" :class="form_type_class">
       <v-overlay :value="overlay">
           <v-progress-circular
               indeterminate
               size="64"
           ></v-progress-circular>
       </v-overlay>

       <v-dialog
           v-model="submitActionDialog"
           transition="dialog-bottom-transition"
           max-width="600"
       >
           <template v-slot:default="dialog">
               <v-card>
                   <v-card-text>
                       <div class="text-h2 py-10 text-center">{{ lang('data_saved') }}</div>
                   </v-card-text>
               </v-card>
           </template>
       </v-dialog>

       <div>
           <div v-if="form.head_panel.display || showHeadActionFloat()" class="form-head-panel">
               <div>
                   <div v-if="form.head_panel.display" class="form-head-panel-component">
                       <template v-if="buttons.back_btn">
                           <component class="action-item button-item-back"
                                      :key="'button_back_component_'"
                                      :is="buttons.back_btn.component"
                                      :element="buttons.back_btn"
                                      @clickButton="handleClickButton"
                           ></component>
                       </template>
                   </div>
                   <div class="form-head-title">
                       <span>{{head_panel.title}}</span>
                   </div>
               </div>
               <div v-if="showHeadActionFloat()" class="form-head-panel-component">
                   <div class="form-head-actions-block">
                       <template v-for="(button, index) in buttons.action_float">
                           <component class="action-item button-item"
                                      :key="'button_head_component_' + index"
                                      :is="button.component"
                                      :element="button"
                                      @clickButton="handleClickButton"
                           ></component>
                       </template>
                   </div>
               </div>
           </div>
           <div v-else class="pt-10"></div>
       </div>
       <div class="d-flex justify-center">
           <v-form class="section-form" :method="methodAlias" :action="action" id="nativeForm" ref="form"
                   v-model="is_valid" lazy-validation enctype="multipart/form-data">
               <input type="hidden" name="_token" :value="token">
               <input type="hidden" name="_method" :value="method">
               <input type="hidden" name="submit_action" v-model="submitAction" >
               <component class="form-body"
                          :is="formComponentKey"
                          :form="form"
                          :formData="formData"
                          @clickButton="handleClickButton"
               ></component>
               <slot name="form-body" ref="form"></slot>
           </v-form>
       </div>
       <div v-if="showFooterAction()">
           <div  class="form-footer-actions">
               <template v-for="(button, index) in buttons.action_footer">
                   <component class="button-item"
                              :key="'button_footer_component_' + index"
                              :is="button.component"
                              :element="button"
                              @clickButton="handleClickButton"
                   ></component>
               </template>
           </div>
       </div>
   </div>
</template>

<script>
    import forms from './types/index'
    import wrappers from '../wrappers/index'
    import components from './components/index'
    import buttons from '../buttons/index'
    import rules from '../../validator/rules'
    import swal from 'vue-sweetalert2';
    import 'sweetalert2/dist/sweetalert2.min.css';

    let merged = {...forms,...components,...buttons,...wrappers, swal};
    export default {
        components: merged,
        props: ['form'],
        data () {
            return {
                submitActionDialog: false,
                overlay: false,
                form_type_class: this.form.type,
                formComponentKey: this.form.form_component_key,
                action: this.form.action,
                token: this.form.token,
                method: this.form.method,
                submitAction: undefined,
                displayRoutePath: this.form.display_route,
                head_panel: this.form.head_panel,
                methodAlias: this.getFormMethod(),
                formData: this.prepareFields(),
                is_valid: true,
                htmlAttributes: this.form.htmlAttributes,
                buttons: {
                    action_float: this.form.buttons.action_float,
                    action_footer: this.form.buttons.action_footer,
                    back_btn: this.getBackButton(this.form.buttons.back_btn)
                }
            }
        },
        mounted() {

            let params = (new URL(document.location)).searchParams;
            let action = params.get("submit_action");
            if(action == 'saved'){
                params.delete("submit_action");
                history.pushState({}, '', '?' + decodeURIComponent((params.toString() + '').replace(/\+/g, '%20')));
                this.submitActionDialog = true;
                setTimeout(function (){
                    this.submitActionDialog = false;
                },2000);
            }
        },
        methods: {
            showHeadActionFloat(){
                return this.buttons.action_float && this.buttons.action_float.length;
            },
            showFooterAction(){
                return this.buttons.action_footer && this.buttons.action_footer.length;
            },
            getBackButton(buttons)
            {
                if(buttons && buttons[0]) return buttons[0];
                else return null
            },
            handleClickButton(button)
            {
                switch (button.action) {
                    case 'delete' : this.deleteItem(button);
                    break;
                    case 'restore' : this.restoreItem(button);
                    break;
                    case 'copy':
                    case 'save_create':
                    case 'save' : this.submit(button);
                    break;
                    case 'cancel' : this.redirectToDisplay();
                    break;
                    case 'service_path' : this.submitServiceAction(button);
                    break;
                }
            },
            getFormMethod()
            {
                if(this.form.method === 'PUT') return 'POST';
                return this.form.method;
            },
            prepareFields()
            {
                return this.form.components.map(item => {
                    return item.field
                })
            },
            async updateForm(element, value){
                element.error = await rules.getError(element, value);
                this.$set(this.formData, element, value);
                this.$emit("input", this.formData);
            },
            submit (button) {

                let is_valid = true;
                this.$refs.form.$children.map(function (item,key) {
                    if(item['element'] && item['element']['error']){
                        is_valid = false;
                    }
                });
                if (is_valid && this.$refs.form.validate()) {
                    this.overlay = true;
                    this.submitAction = button.action;
                    setTimeout(function () {
                        nativeForm.submit();
                    },100);

                }
            },
            redirectToDisplay()
            {
                location.href = this.displayRoutePath;
            },
            deleteItem (button)
            {
                this.fireActionSwal(button);
            },
            restoreItem (button)
            {
                this.fireActionSwal(button);
            },
            submitServiceAction (button)
            {
                this.fireActionSwal(button);
            },
            fireActionSwal(button){
                Vue.use(swal);
                this.$swal({
                    html: button.confirm_message,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
                }).then((result) => {
                    if(result.value) {
                        this.overlay = true;
                        axios.post(button.route_path)
                            .then(response => {
                                this.overlay = false;
                                console.log(response);
                                if(response.data.message){
                                    this.$swal('', response.data.message, 'success')
                                }
                                if(response.data.location_reload){
                                    setTimeout(function (){
                                        location.reload();
                                    },1000);
                                }
                                if(response.data.location_redirect){
                                    setTimeout(function (){
                                        location.href = response.data.location_redirect;
                                    },1000);
                                }
                                if(response.data.location_open){
                                    window.open(response.data.location_open, '_blank');
                                }
                                if(response.data.download_file_content && response.data.download_file_name){
                                    let linkSource = `data:application/pdf;base64,${response.data.download_file_content}`;
                                    let downloadLink = document.createElement("a");
                                    let fileName = response.data.download_file_name;

                                    downloadLink.href = linkSource;
                                    downloadLink.download = fileName;
                                    downloadLink.click();
                                }
                            })
                            .catch(error => {
                                this.overlay = false;
                                this.$swal(error.response.data.error_txt, error.response.data.message, 'error')
                            });
                    }
                });
            }
        },
        name: 'form-wrapper-component'
    }
</script>
