<template>
    <div class="back-block" v-if="item.route_path">
        <a class="back-btn" :href="item.route_path"><span class="icon-down"></span></a>
        <a class="back-link" :href="item.route_path">{{item.title}}</a>
    </div>
</template>
<script>
    export default {
        props: ['element'],
        data () {
            return {
                item: this.element,
            }
        },
        name: 'back-button-component'
    }
</script>
<style>
    .back-block{
        display: flex;
        cursor: pointer;
        text-decoration: unset;
    }
    .back-block .back-link{
        font-size: 12px!important;
        line-height: 14px;
        font-weight: 600;
        color: #109CF1;
    }
    .back-block .back-btn,.back-block .back-link{
        text-decoration: unset;
    }
    .back-block .back-btn .icon-down{
        display: block;
        transform: rotate(-270deg);
        color: #109CF1;
        text-decoration: unset;
    }
</style>
