<template>
    <div class="copy-block">
        <a class="copy-btn" @click="handleClick"><span class="icon-copy"></span></a>
        <a class="copy-link" @click="handleClick"><span>{{item.title}}</span></a>
    </div>
</template>
<script>
    export default {
        props: ['element'],
        data () {
            return {
                item: this.element,
            }
        },
        methods: {
            handleClick()
            {
                this.$emit('clickButton',this.item);
            }
        },
        name: 'copy-button-component'
    }
</script>
<style>
    .copy-block{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .copy-block .copy-btn{
        text-decoration: unset;
    }
    .copy-block .copy-btn .icon-copy:before{
        color: #334D6E;
        font-size: 24px;
    }
    .copy-block .copy-link{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #334D6E;
        text-decoration: unset;
        padding-left: 8px;
    }
    .copy-block .copy-link:hover {
        text-decoration: underline;
    }
</style>
