<template>
    <div class="create-block" v-if="item.route_path">
        <a class="create-btn" :href="item.route_path"><span class="icon-plus"></span></a>
        <a class="create-link" :href="item.route_path"><span>{{item.title}}</span></a>
    </div>
</template>
<script>
    export default {
        props: ['element'],
        data () {
            return {
                item: this.element,
            }
        },
        name: 'create-button-component'
    }
</script>
<style>
    .create-block{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .create-block .create-btn{
        text-decoration: unset;
    }
    .create-block .create-btn span{
        background-color: #109CF1;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .create-block .create-btn .icon-plus:before{
        color: #fff;
        font-size: 14px;
    }
    .create-block .create-link{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #109CF1;
        text-decoration: unset;
        padding-left: 8px;
    }
    .create-block .create-link:hover {
        text-decoration: underline;
    }
</style>
