<template>
    <div :class="htmlAttributes.classes.component">
        <a v-if="iconClass" class="custom-btn" @click="handleClick"><span :class="iconClass"></span></a>
        <a class="custom-link" @click="handleClick"><span>{{item.title}}</span></a>
    </div>
</template>
<script>
    export default {
        props: ['element'],
        data () {
            return {
                item: this.element,
                htmlAttributes: this.element.htmlAttributes,
                iconClass: this.element.icon_class
            }
        },
        methods: {
            handleClick()
            {
                this.$emit('clickButton',this.item);
            }
        },
        name: 'custom-button-component'
    }
</script>
