<template>
    <v-btn
           class="mr-5"
           @click="handleClick"
           :color="item.color"
    >{{item.title}}</v-btn>
</template>
<script>
    export default {
        props: ['element'],
        data () {
            return {
                item: this.element,
            }
        },
        methods: {
            handleClick()
            {
                this.$emit('clickButton',this.item);
            }
        },
        name: 'default-button-component'
    }
</script>
<style>

</style>
