<template>
    <div :class="htmlAttributes.classes.component">
        <a v-if="iconClass" class="delete-btn" @click="handleClick"><span :class="iconClass"></span></a>
        <a class="delete-link" @click="handleClick"><span>{{item.title}}</span></a>
    </div>
</template>
<script>
    export default {
        props: ['element'],
        data () {
            return {
                item: this.element,
                htmlAttributes: this.element.htmlAttributes,
                iconClass: this.element.icon_class
            }
        },
        methods: {
            handleClick()
            {
                this.$emit('clickButton',this.item);
            }
        },
        name: 'delete-button-component'
    }
</script>
<style>
    .delete-block{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .delete-block .delete-btn{
        text-decoration: unset;
    }
    .delete-block .delete-btn .icon-delete:before{
        color: #90A0B7;
        font-size: 24px;
    }
    .delete-block .delete-link{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #90A0B7;
        text-decoration: unset;
        padding-left: 8px;
    }
    .delete-block .delete-link:hover {
        text-decoration: underline;
    }
</style>
