<template>
    <v-btn class="mr-4" @click="handleClick" :outlined="true" :color="item.color">{{item.title}}</v-btn>
</template>
<script>
    export default {
        props: ['element'],
        data () {
            return {
                item: this.element,
            }
        },
        methods: {
            handleClick()
            {
                this.$emit('clickButton',this.item);
            }
        },
        name: 'save-create-button-component'
    }
</script>
