<template>
    <v-btn class="mr-4" @click="handleClick" :color="item.color">{{item.title}}</v-btn>
</template>
<script>
    export default {
        props: ['element'],
        data () {
            return {
                item: this.element,
            }
        },
        methods: {
            handleClick()
            {
                this.$emit('clickButton',this.item);
            }
        },
        name: 'save-button-component'
    }
</script>
<style>
    .save-button-item .v-btn__content{
        font-size: 14px;
        line-height: 17px;
        color: #fff;
    }
</style>
