<template>
    <div class="file-uploader max-width-100">
        <div class="file-preview">
            <input type="hidden" :name="field_path + '[]'" :value="path"/>

            <input
                :name="field_file + '[]'"
                ref="uploader"
                class="d-none"
                type="file"
                @change="changePath"
            >
            <div v-if="false">
                <a v-if="is_downloadable" :href="download_path" download>
                    <img class="preview" :src="preview_icon"/>
                </a>
                <img v-else class="preview" :src="preview_icon"/>
            </div>

        </div>
        <div class="triggers">
            <a class="upload trigger" @click="triggerUpload">
                <span class="icon icon-folder_open"></span>
                <span>{{upload_text}}</span>
            </a>
            <a v-if="is_downloadable" class="download trigger" :href="download_path" download>
                <span class="icon icon-descargar"></span>
                <span>{{download_text}}</span>
            </a>
            <a v-if="is_deletable" class="remove trigger" @click="triggerDelete">
                <span class="icon icon-delete"></span>
                <span>{{delete_text}}</span>
            </a>
            <span class="help-text">{{help_text}}</span>
        </div>
    </div>
</template>
<script>
    import rules from '../../../../validator/rules'

    export default {
        props: ['element','value', 'model'],
        data () {
            return {
                disabled: this.element.disabled,
                help_text: this.element.help_text,
                upload_text: this.element.upload_text,
                delete_text: this.element.delete_text,
                download_text: this.element.download_text,
                is_deletable: this.value.is_deletable,
                is_downloadable: this.value.is_downloadable,
                field_file: this.element.field_file,
                field_path: this.element.field_path,
                field: this.element.field,
                download_path: this.value.download_path,
                has_preview_icon: this.value.has_preview_icon,
                has_upload_icon: this.value.has_upload_icon,
                placeholder: this.element.placeholder,
                rules: this.value ? rules.getValidationRules(this.value) : '',
                file: null,
                path: this.value ? this.value.path : '',
                src_preview:  this.value ? this.value.src_preview : this.element.src_default,
                item: this.value,
                item_value: this.value ? this.value.value : this.element.src_default,
                upload_file_icon: this.value.upload_file_icon,
                preview_file_icon: this.value.preview_file_icon,
                preview_icon: this.value.is_downloadable ? this.value.preview_file_icon : this.value.upload_file_icon
            }
        },
        methods: {
            triggerUpload() {
                this.$refs.uploader.click()
            },
            triggerDelete() {
                this.file = null;
                this.path = null;
                this.src_preview = this.src_default;
                this.preview_icon = this.upload_file_icon;
            },
            changePath(e){
                this.file = e.target.files[0];
                this.path = this.file ? this.file.name : null;
                this.preview_icon = this.preview_file_icon;
                this.src_preview = this.file ? URL.createObjectURL(this.file) : this.src_default;
            },
        },
        name: 'column-file-component'
    }
</script>

<style scoped>
    .image-uploader{
        display: flex;
        flex-wrap: wrap;
    }
    .image-preview{
        height: 105px;
        width: 105px;
        border-radius: 4px;
        background-color: #192A3E;
    }
    .image-preview .preview{
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
    }
    .form-component{
        align-items: start;
    }
    .form-component-input{
        max-width: 512px;
    }
    .file-uploader{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .file-uploader .file-preview{
        width: 50px;
    }
    .triggers{
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
        justify-content: space-around;
    }
    .trigger{
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
    }
    .upload.trigger{
        color: #109CF1;
    }
    .remove.trigger{
        color: #90A0B7;
    }
    .upload.trigger .icon:before{
        color: #109CF1;
    }
    .trigger .icon {
        padding-right: 5px;
        font-size: 20px;
    }
    .help-text{
        padding-top: 15px;
        font-size: 12px;
        line-height: 14px;
        font-style: italic;
        color: #334D6E;
        opacity: 0.7;
    }
</style>
