<template>
    <div class="inner-table-actions-block">
       <template v-for="(component,index) in actions">
           <component
                      :is="component.component"
                      :element="component"
                      :model="model"
                      :index="'table_column_action_' + index"
                      @updateTableData="handleUpdateTableData($event)"
                      @deleteItem="deleteItem($event)"
                      @toggleRow="toggleRow($event)"
           ></component>
       </template>
    </div>
</template>
<script>
    import components from './actions/index'

    export default {
        components,
        props: ['element','model'],
        data () {
            return {
                actions: this.element.components,
                is_deletable: true,
            }
        },
        methods: {
            toggleRow(item)
            {
                this.$emit('toggleRow',item)
            },
            deleteItem (item)
            {
                this.$emit('deleteRow',item)
            },
            handleUpdateTableData(event){
                this.$emit('updateTableData',event)
            }
        },
        name: 'column-actions-component'
    }
</script>
<style>
    .inner-table-actions-block{
        text-align: left!important;
    }
</style>
