<template>
    <div class="column-text-area-container max-width-100">
        <v-textarea
            :name="field"
            :value="item_value"
            :rules="rules"
            auto-grow
            height="auto"
            outlined
            :disabled="disabled"
            :error-messages="item.error"
            :placeholder="item.placeholder"
        ></v-textarea>
    </div>
</template>
<script>
    import rules from '../../../../validator/rules'

    export default {
        props: ['element','value', 'model', 'field_group_key'],
        data () {
            return {
                item: this.element,
                disabled: this.element.disabled,
                item_value: this.value ? this.value.value : '',
                group_key: this.field_group_key ? this.field_group_key : null,
                field: this.element.field + (this.field_group_key ? '[' + this.field_group_key + ']' : '') + '[]',
                rules: rules.getValidationRules(this.element)
            }
        },
        name: 'column-text-area-component'
    }
</script>
<style>
.column-text-area-container textarea{
    font-size: 12px;
}
</style>
