<template>
    <v-text-field
            :name="field"
            :value="item_value"
            :rules="rules"
            :error-messages="item.error"
            outlined
            :hide-details="hideDetails"
            :disabled="disabled"
            :placeholder="item.placeholder"
            ></v-text-field>
</template>
<script>
    import rules from '../../../../validator/rules'

    export default {
        props: ['element','value', 'model', 'field_group_key'],
        data () {
            return {
                item: this.element,
                disabled: this.element.disabled,
                hideDetails: this.element.hide_details,
                item_value: this.value ? this.value.value : '',
                group_key: this.field_group_key ? this.field_group_key : null,
                field: this.element.field + (this.field_group_key ? '[' + this.field_group_key + ']' : '') + '[]',
                rules: rules.getValidationRules(this.element)
            }
        },
        name: 'column-input-component'
    }
</script>
