<template>
    <div class="image-uploader">
        <div class="image-preview">
            <input type="hidden" :name="field_base64 + '[]'" :value="file_base64"/>
            <input type="hidden" :name="field_path + '[]'" :value="path"/>
            <input
                :name="field_file + '[]'"
                ref="uploader"
                class="d-none"
                type="file"
                accept="image/*"
                @change="changePath"
            >
            <img class="preview" :src="src_preview"/>
        </div>
        <div class="triggers">
            <a class="upload trigger" @click="triggerUpload">
                <span class="icon icon-folder_open"></span>
                <span>{{upload_text}}</span>
            </a>
            <a class="remove trigger" @click="triggerDelete" v-if="path">
                <span class="icon icon-delete"></span>
                <span>{{delete_text}}</span>
            </a>
            <span class="help-text">{{help_text}}</span>
        </div>
    </div>
</template>
<script>
    import rules from '../../../../validator/rules'

    export default {
        props: ['element','value', 'model'],
        data () {
            return {
                disabled: this.element.disabled,
                help_text: this.element.help_text,
                upload_text: this.element.upload_text,
                delete_text: this.element.delete_text,
                src_default: this.element.src_default,
                field_path: this.element.field_path,
                field_file: this.element.field_file,
                field_base64: this.element.field_base64,
                placeholder: this.element.placeholder,
                path: this.value ? this.value.path : '',
                src_preview:  this.value ? this.value.src_preview : this.element.src_default,
                item: this.value,
                item_value: this.value ? this.value.value : this.element.src_default,
                rules: this.value ? rules.getValidationRules(this.value) : '',
                file: this.value.file,
                file_base64: null
            }
        },
        created() {
            if(this.file){
                this.changePreview();
                let reader = new FileReader();
                let self = this;
                reader.onload = function () {
                    self.file_base64 = reader.result;
                };
                reader.readAsDataURL(this.file);
            }
        },
        methods: {
            triggerUpload() {
                this.$refs.uploader.click()
            },
            triggerDelete() {
                this.file = null;
                this.path = null;
                this.src_preview = this.src_default;
            },
            changePath(e){
                this.file_base64 = null;
                this.file = e.target.files[0];
                this.changePreview();
            },
            changePreview(){
                this.path = this.file ? this.file.name : null;
                this.src_preview = this.file ? URL.createObjectURL(this.file) : this.src_default;
            }
        },
        name: 'column-image-component'
    }
</script>
<style scoped>
    .image-uploader{
        display: flex;
        flex-wrap: wrap;
    }
    .image-preview{
        height: 105px;
        width: 105px;
        border-radius: 4px;
        background-color: #192A3E;
    }
    .image-preview .preview{
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
    }
    .form-component{
        align-items: start;
    }
    .form-component-input{
        max-width: 512px;
    }
    .triggers{
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
        justify-content: space-around;
    }
    .trigger{
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
    }
    .upload.trigger{
        color: #109CF1;
    }
    .remove.trigger{
        color: #90A0B7;
    }
    .upload.trigger .icon:before{
        color: #109CF1;
    }
    .trigger .icon {
        padding-right: 5px;
        font-size: 20px;
    }
    .help-text{
        padding-top: 15px;
        font-size: 12px;
        line-height: 14px;
        font-style: italic;
        color: #334D6E;
        opacity: 0.7;
    }
</style>
