<template>
    <div>
        <v-label>{{item_value}}</v-label>
        <input type="hidden"
               :name="field"
               :disabled="disabled"
               :value="item_value"/>
    </div>
</template>
<script>
    export default {
        props: ['element','value', 'model', 'field_group_key'],
        data () {
            return {
                item: this.element,
                disabled: this.element.disabled,
                item_value: this.value ? this.value.value : '',
                field: this.element.field + (this.field_group_key ? '[' + this.field_group_key + ']' : '') + '[]'
            }
        },
        name: 'column-text-component'
    }
</script>
