<template>
    <div class="vue-datepicker-local-container">
        <vue-datepicker-local
            v-model="item_value"
            :local="local"
            :placeholder="item.placeholder"
            :format="format"
            :name="field"
            :disabled="disabled"
            popupClass="datetimepicker"/>
    </div>
</template>
<script>
import rules from '../../../../validator/rules'
import VueDatepickerLocal from 'vue-datepicker-local'

export default {
    props: ['element','value', 'model', 'field_group_key'],
    components: {
        VueDatepickerLocal
    },
    data () {
        return {
            disabled: this.element.disabled,
            item: this.element,
            item_value: this.value ? this.value.value : null,
            format: this.element.format ? this.element.format : 'YYYY-MM-DD HH:mm:ss',
            group_key: this.field_group_key ? this.field_group_key : null,
            field: this.element.field + (this.field_group_key ? '[' + this.field_group_key + ']' : '') + '[]',
            rules: rules.getValidationRules(this.element),
            local: {
                dow: 0, // Sunday is the first day of the week
                hourTip: 'Select Hour', // tip of select hour
                minuteTip: 'Select Minute', // tip of select minute
                secondTip: 'Select Second', // tip of select second
                yearSuffix: '', // suffix of head year
                monthsHead: 'January_February_March_April_May_June_July_August_September_October_November_December'.split('_'), // months of head
                months: 'Jan_Feb_Mar_Apr_May_Jun_Jul_Aug_Sep_Oct_Nov_Dec'.split('_'), // months of panel
                weeks: 'Su_Mo_Tu_We_Th_Fr_Sa'.split('_'),
                cancelTip: 'cancel',
                submitTip: 'confirm'
            }
        }
    },
    name: 'column-date-time-component'
}
</script>
<style>
.vue-datepicker-local-container .datepicker{
    position: initial;
}
.vue-datepicker-local-container .datepicker:before{
    display: none;
}
</style>
