<template>
    <div :class="getComponentClass() + ' multi-select'">

        <v-autocomplete
            :items="options"
            item-value="id"
            item-text="title"
            @input="handleInput"
            @open="onOpen"
            @close="onClose"
            v-model="current"
            :name="field"
            :rules="rules"
            :error-messages="item.error"
            :placeholder="item.placeholder"
            :outlined="outlined"
            :multiple="multiple"
            :loading="loading"
            :search-input="'test'"
            :search-input.sync="search"
            cache-items
            chips
            small-chips
            filled
        >
            <template v-slot:selection="data">
                <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    close
                    @click="data.select"
                    @click:close="remove(data.item)"
                    :class="'custom-chip'"
                >
                    <v-avatar left>
                        <v-img :src="data.item.preview"></v-img>
                    </v-avatar>
                    <a :href="data.item.link" target="_blank">{{ data.item.title }}</a>
                </v-chip>
            </template>
            <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                    <v-list-item-avatar>
                        <img :src="data.item.preview">
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title v-html="data.item.title"></v-list-item-title>
                    </v-list-item-content>
                </template>
            </template>
        </v-autocomplete>
    </div>
</template>
<script>

import rules from '../../../../validator/rules'

export default {
    props: ['element','value', 'model', 'field_group_key'],
    data () {
        return {
            observer: null,
            item: this.value,
            asyncMethodPath: this.element.async_method_path,
            disabled: this.element.disabled,
            item_value: this.value ? this.value.value : '',
            options: this.value.options,
            group_key: this.field_group_key ? this.field_group_key : null,
            field: this.element.field + (this.field_group_key ? '[' + this.field_group_key + ']' : '') + '[]',
            hide_details: this.element.hide_details,
            current: !this.value.multiple && this.value.value && this.value.is_id_int ? parseInt(this.value.value) : this.value.value,
            outlined: this.element.outlined,
            multiple: this.element.multiple,
            rules: rules.getValidationRules(this.element),
            loading: false,
            search: null,
            limit: this.value.limit,
            offset: this.value.offset,
            hasMore: this.value.has_more,
        }
    },
    mounted () {
        this.observer = new IntersectionObserver(this.infiniteScroll);
        let el = document.querySelector('input[type="text"][name="' + this.field + '"]');
        if(el != undefined){
            el.setAttribute('name','search_' + this.field);
        }
    },
    watch: {
        search (val) {
            this.search = val;
            this.querySelections(true);
        },
    },
    methods: {
        remove (item) {
            const index = this.current.indexOf(item.id)
            if (index >= 0) this.current.splice(index, 1)
        },
        handleInput(event){
         //   console.log(event);
            this.current = event ? event.id : null;
          //  let val = this.current && this.multiple ? this.current.join() : this.current;
            this.$emit('input',this.current)
        },
        async onOpen () {
            if (this.hasMore) {
                await this.$nextTick();
                this.observer.observe(this.$refs.load)
            }
        },
        onClose () {
            this.observer.disconnect();
        },
        async infiniteScroll ([{isIntersecting, target}]) {

            if (isIntersecting && this.hasMore) {
                this.querySelections(false);
                const ul = target.offsetParent;
                const scrollTop = target.offsetParent.scrollTop;
                await this.$nextTick();
                ul.scrollTop = scrollTop;
            }
        },
        querySelections (refreshQuery = false) {
            if(!this.asyncMethodPath || this.loading){
                return;
            }
            this.loading = true;
            let params = {
                'search': this.search,
                'limit': this.limit,
                'model_id': this.item.cms_model_id,
                'current': this.current
            };
            if(!refreshQuery){
                params['offset'] = this.offset;
            }
            axios
                .post(this.asyncMethodPath,params)
                .then(response => {
                    if(refreshQuery){
                        this.options = response.data.options;
                    }
                    if(!refreshQuery){
                        this.options = this.options.concat(response.data.options);
                    }
                    this.hasMore = response.data.has_more;
                    this.offset = response.data.offset;
                    this.loading = false;
                })
                .catch(error => {
                    console.log(error);
                    this.loading = false;
                });
        },
        getComponentClass(){
            return 'custom-select' + (this.hide_details ? ' hide-details' : '');
        }
    },
    name: 'column-autocomplete-component'
}
</script>
<style>
.custom-select ul{
    padding-left: 0px!important;
    max-height: 150px;
    overflow-y: scroll;
}
.custom-select .v-select.v-input--dense .v-chip {
    margin: 5px 4px;
}
.custom-chip{
    height: 24px!important;
}
.inner-data-table .multi-select .v-select .v-input__slot{
    height: auto;
}
.inner-data-table .multi-select .v-select .v-select__selections input{
    height: 0;
}

</style>
