<template>
        <v-select
            :items="options"
            item-value="id"
            item-text="title"
            @input="$emit('input',
            $event)"
            v-model="item_value"
            :name="field"
            :rules="rules"
            :disabled="disabled"
            outlined
        ></v-select>
</template>
<script>
    import rules from '../../../../validator/rules'

    export default {
        props: ['element','value', 'model', 'field_group_key'],
        data () {
            return {
                item: this.element,
                disabled: this.element.disabled,
                item_value: this.value ? this.value.value : '',
                options: this.element.options,
                group_key: this.field_group_key ? this.field_group_key : null,
                field: this.element.field + (this.field_group_key ? '[' + this.field_group_key + ']' : '') + '[]',
                rules: rules.getValidationRules(this.element)
            }
        },
        name: 'column-select-component'
    }
</script>
