<template>
    <input :name="field" :value="item_value"/>
</template>
<script>
    export default {
        props: ['element','value', 'model', 'field_group_key'],
        data () {
            return {
                item: this.element,
                item_value: this.value ? this.value.value : '',
                field: this.element.field + (this.field_group_key ? '[' + this.field_group_key + ']' : '') + '[]',
            }
        },
        name: 'column-hidden-input-component'
    }
</script>
