<template>
   <div>
       <v-switch
           v-model="switchValue"
           :value="switchValue"
           :disabled="disabled"
       ></v-switch>
       <input type="hidden" :name="field"  :value="switchValue">
   </div>
</template>
<script>
    export default {
        props: ['element','value', 'model', 'field_group_key'],
        data () {
            return {
                item: this.element,
                switchValue: this.value ? this.value.value : false,
                disabled: this.element.disabled,
                model_id: this.model.id,
                field: this.element.field + (this.field_group_key ? '[' + this.field_group_key + ']' : '') + '[]'
            }
        },
        name: 'column-switch-component'
    }
</script>

