<template>
    <div v-html="content"></div>
</template>
<script>
    export default {
        props: ['element','model','value'],
        data () {
            return {
                content: this.value.content,
            }
        },
        created() {
            setTimeout(function (){
                this.content = 'test'
            },500);
        },
        name: 'column-custom-component'
    }
</script>
