<template>
    <v-label
        outlined
    >{{ getValue() }}
    </v-label>
</template>
<script>

export default {
    props: ['item', 'value'],
    name: 'switch-column-label',
    methods: {
        getValue() {
            return this.value == 1 ? this.lang('on') : this.lang('off');
        }
    }
}
</script>

