<template>
    <v-select
        :items="options"
        item-value="value"
        item-text="label"
        v-model="value"
        @change="handleChange"
        outlined
    ></v-select>
</template>
<script>
    export default {
        props: ['item'],
        data () {
            return {
                element: this.item,
                value: this.item.value,
                options: this.item.options,
            }
        },
        methods: {
            handleChange(value)
            {
                this.$emit('changeValue',value);
            }
        },
        name: 'switch-column-slot'
    }
</script>

