<template>
    <v-text-field
            ref="item"
            v-model="value"
            label="Edit"
            single-line
            counter
            :rules="rules"
            :error-messages="errorMsg"
            @input="handleChange"
    ></v-text-field>
</template>
<script>
    import rules from '../../../../validator/rules'

    export default {
        props: ['item'],
        data () {
            return {
                element: this.item,
                value: this.item.value,
                errorMsg: this.item.error,
                rules: rules.getValidationRules(this.item),
            }
        },
        methods: {
            handleChange(value)
            {
                this.$emit('changeValue', value, this.$refs.item.validate());
            }
        },
        name: 'text-column-slot'
    }
</script>

