<template>
    <div class="editable-text">
        <span>{{value}}</span>
    </div>
</template>
<script>
    export default {
        props: ['value'],
        name: 'text-column-label'
    }
</script>
<style>
    .v-small-dialog__activator__content{
        width: 100%;
    }
    .editable-text{
        background-color: #fff;
        padding-left: 8px;
        min-height: 24px;
        border: 1px solid rgba(51, 77, 110, 0.50);
        border-radius: 4px;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 16px;
        color: #192A3E;
        box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.04);
    }
</style>
