<template>
    <div class="filter-panel-wrapper">
        <div class="toggle-filter-panel" v-bind:class="{collapse: isCollapse}" @click.stop="collapseFilterPanel">
            <div class="icon icon-arrow"></div>
        </div>
        <div class="filter-panel-card" v-bind:class="{collapse: isCollapse}">

            <div v-if="headerLink" class="py-3">
                <div class="link-button-component">
                    <span v-if="headerLink.icon" :class="'pr-1 icon '+headerLink.icon"></span>
                    <a :href="headerLink.link" >{{headerLink.title}}</a>
                </div>
            </div>

            <div v-for="(component, index) in components">

                <div class="filter-component-block">
                    <v-expansion-panels v-if="component.is_expansion" accordion multiple :value="[0]">
                        <v-expansion-panel :key="0">
                            <v-expansion-panel-header expand-icon="mdi-menu">{{component.expansion_title}}</v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <component class="form-component-input"
                                           :key="'filter_component_' + index"
                                           :is="component.component"
                                           :element="component"
                                ></component>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                    <component v-else class="form-component-input"
                               :key="'filter_component_' + index"
                               :is="component.component"
                               :element="component"
                    ></component>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import components from './components/index';

    export default {
        components,
        props: ['data'],
        data () {
            return {
                components: this.data.components ? this.data.components : [],
                headerLink: this.data.header_link ? this.data.header_link : null,
                isCollapse: false
            }
        },
        methods: {
            collapseFilterPanel(){
                this.isCollapse = !this.isCollapse;
            },
        },
        name: 'filter-panel'
    }
</script>
<style scoped>

.filter-panel-wrapper{
    position: relative;
    margin: 32px 0 24px 0;
    height: max-content;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.04);
}
.toggle-filter-panel{
    position: absolute;
    right: -16px;
    top: 50px;
    width: 16px;
    height: 32px;
    background-color: #192A3E;
    box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-filter-panel .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}
.toggle-filter-panel.collapse .icon{
    transform: rotate(-90deg);
    padding-bottom: 3px;
}
.toggle-filter-panel .icon:before{
    font-size: 9px;
    color: #fff;
}
.filter-panel-card{
    height: 100%;
    width: 210px;
}
.filter-panel-card.collapse{
    display: none;
    transition: 0.6s;
}
</style>
