<template>
    <div class="max-width-100">
        <input type="hidden" name="product_price_panel" value="true">
        <div class="price-groups-wrapper">
            <div v-for="(price_group,index) in groups">
                <component class="custom-component"
                           :index="'product_price_group_' + index"
                           :element="price_group"
                           :is="price_group.component"
                ></component>
            </div>
        </div>
        <div v-if="has_empty">
            <div class="create-block">
                <a class="create-btn" @click="toggleShowSelect"><span class="icon-plus"></span></a>
                <a class="create-link" @click="toggleShowSelect"><span>{{empty_btn_title}}</span></a>
            </div>
            <div v-if="show_select" class="append-new-price-group">
                <template>
                    <v-select
                        :items="empty_groups_select"
                        item-value="id"
                        item-text="title"
                        outlined
                        @input="addGroup"
                    ></v-select>
                </template>
            </div>
        </div>
    </div>
</template>
<script>
    import components from './product_prices_components/index'

    export default {
        components,
        props: ['element'],
        data () {
            return {
                groups: this.element.price_groups,
                empty_groups: this.element.empty_items ? this.element.empty_items.components : null,
                empty_groups_select: this.element.empty_items ? this.element.empty_items.price_groups_select : null,
                empty_btn_title: this.element.empty_items ? this.element.empty_items.title : null,
                has_empty: Object.keys(this.element.empty_items).length ? true : false,
                show_select: false,
            }
        },
        methods: {
            toggleShowSelect()
            {
                this.show_select = !this.show_select;
            },
            addGroup(value)
            {
                if(confirm(this.lang('confirm_action'))) {
                    this.show_select = false;
                    let item = this.empty_groups_select.find(x => x.id == value);
                    let index = this.empty_groups_select.indexOf(item);
                    this.empty_groups_select.splice(index, 1);
                    let component = this.empty_groups[value];
                    this.groups.push(component);
                }
            }
        },
        name: 'product-price-groups-panel-component'
    }
</script>
<style>
.create-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-block .create-btn{
    text-decoration: unset;
}
.create-block .create-btn span{
    background-color: #109CF1;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-block .create-btn .icon-plus:before{
    color: #fff;
    font-size: 14px;
}
.create-block .create-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #109CF1;
    text-decoration: unset;
    padding-left: 8px;
}
.create-block .create-link:hover {
    text-decoration: underline;
}
.price-groups-wrapper .v-select__slot,.price-groups-wrapper .v-input__slot{
    margin-bottom: 0;
}
.prices-table-row .v-select__slot,.prices-table-row .v-input__slot{
    margin-top: 20px;
}
.price-groups-wrapper .v-text-field.v-text-field--enclosed .v-text-field__details{
    margin-bottom: 5px;
}
.append-new-price-group{
    max-width: 250px;
    margin: 15px auto;
}
</style>
