<template>
    <div class="max-width-100">
        <input type="hidden" name="product_price_panel" value="true">
        <div class="price-groups-wrapper">
            <div class="max-width-100" :id="wrapper_id" v-if="show">
                <div>
                    <v-data-table
                        :headers="headers"
                        :items="items"
                        hide-default-footer
                    >
                        <template v-slot:body="{ items }">
                            <tbody>
                            <template v-for="(item, index) in items">
                                <tr :key="index" class="prices-table-row">
                                    <td class="handle" width="100">
                                        <span class="icon-move"></span>
                                    </td>
                                    <td v-for="(prop,field) in item.fields" :key="field">
                                        <component class="form-component-input"
                                                   :is="getComponentByIndex(field).component"
                                                   :element="getComponentByIndex(field)"
                                                   :model="item"
                                                   :value="prop"
                                                   @toggleRow="toggleRow"
                                                   @deleteRow="handleDeleteItem"
                                        ></component>
                                    </td>
                                </tr>
                                <tr v-if="item.expanded_show">
                                    <td :colspan="headers.length">
                                        <v-row class="">
                                            <v-col class="py-0 px-4" cols="12" md="6">
                                                <div class="params-component-block">
                                                    <template v-for="(expanded_param,index) in item.expanded">
                                                        <div class="params-component">
                                                            <div class="params-component-label">
                                                                <span class="param-title">{{expanded_param.label}}</span>
                                                            </div>
                                                            <div class="params-component-input-container">
                                                                <component class="form-component-input"
                                                                           :is="expanded_param.component"
                                                                           :element="expanded_param"
                                                                           :index="'product_price_param_' + item.id + '_' + index"
                                                                           @updateParam="updateParamValue($event)"
                                                                ></component>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </div>
                                            </v-col>
                                        </v-row>
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </template>
                    </v-data-table>
                </div>
                <v-row class="py-2">
                    <v-col class="py-0" cols="12" md="6">
                        <div class="append-group-price">
                            <a v-if="is_creatable" class="trigger" @click="createItem">
                                <span class="icon icon-plus"></span>
                                <span>{{ lang('append') }}</span>
                            </a>
                        </div>
                    </v-col>
                </v-row>
            </div>
        </div>
    </div>
</template>
<script>

    import Sortable from "sortablejs";
    import columns from '../table_columns/index'
    import ProductPriceParamComponent from './product_prices_components/ProductPriceParamComponent'

    export default {
        components: {...columns,ProductPriceParamComponent},
        props: ['element'],
        data () {
            return {
                show: true,
                product_id: this.element.product_id,
                wrapper_id: 'wrapper_price_' + this.element.product_id,
                headers: this.element.tableData.headers,
                items: this.element.tableData.items,
                index_items: null,
                empty_item: this.element.tableData.empty_item,
                components: this.element.tableData.components,
                is_deletable: this.element.tableData.is_deletable,
                is_creatable: this.element.tableData.is_creatable,
                params: this.element.params,
                param_title: this.element.bottomHelpText,
                params_selected: [],
                created_price_id: 0,
                route_unique_ppt: this.element.route_unique_ppt,
                table: null
            }
        },
        mounted(){
            this.index_items = this.items.map((x)=>x);
            this.table = document.querySelector("#" + this.wrapper_id + " .v-data-table__wrapper tbody");
            const _self = this;
            Sortable.create(this.table, {
                handle: ".handle",
                onEnd({ newIndex, oldIndex}) {
                    const rowSelected = _self.items.splice(oldIndex,1)[0];
                    _self.items.splice(newIndex, 0, rowSelected);
                },
                onRemove: function (/**Event*/evt) {
                    console.log('removed');
                },
            });
        },
        methods: {
            updateParamValue(value)
            {
                this.params_selected[value['parent_id']] = value;
            },
            getComponentByIndex(index)
            {
                return this.components[index];
            },
            createItem()
            {
                let empty_item = JSON.parse(JSON.stringify(this.empty_item));

                let param_selected = [...this.params_selected];
                let created_id = this.created_price_id++;
                let selected_values = [];

                for (let exp in empty_item.expanded){
                    empty_item.expanded[exp].created_price_id = parseInt(created_id);
                }

                axios.post(this.route_unique_ppt, {
                    'product_id': this.product_id,
                    'params': selected_values,
                })
                    .then(response => {
                        console.log('append');
                        this.items.push(empty_item);
                    })
                    .catch(error => {
                        console.log(error);
                        return;
                    });

            },
            validateSelectedParams(selected_values)
            {

            },
            toggleRow(item)
            {
                item.expanded_show = !item.expanded_show;
            },
            handleDeleteItem (item) {
                let index = this.index_items.indexOf(item);
                if(confirm(this.lang('confirm_action'))) {
                    this.index_items.splice(index, 1);
                    this.table.children[index].remove();
                }
            },
        },
        name: 'product-prices-panel-component'
    }
</script>
<style>
.create-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-block .create-btn{
    text-decoration: unset;
}
.create-block .create-btn span{
    background-color: #109CF1;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-block .create-btn .icon-plus:before{
    color: #fff;
    font-size: 14px;
}
.create-block .create-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #109CF1;
    text-decoration: unset;
    padding-left: 8px;
}
.create-block .create-link:hover {
    text-decoration: underline;
}
.price-groups-wrapper .v-select__slot,.price-groups-wrapper .v-input__slot{
    margin-bottom: 0;
}
.prices-table-row .v-select__slot,.prices-table-row .v-input__slot{
    margin-top: 20px;
}
.price-groups-wrapper .v-text-field.v-text-field--enclosed .v-text-field__details{
    margin-bottom: 5px;
}
.append-new-price-group{
    max-width: 250px;
    margin: 15px auto;
}
.v-data-table__wrapper .form-component-input{
    max-width: 100%;
    text-align: center;
}
.handle{
    text-align: center;
    cursor: move!important;
}
.params-component-block{
    padding-top: 16px;
}
.expand-block{
    display: none;
}
.expand-block.show{
    display: block;
}
.param-help-text{
    font-size: 12px;
    line-height: 14px;
    color: #192A3E;
}
.params-component{
    display: flex;
}
.params-component .params-component-label{
    min-width: 150px;
    max-width: 100%;
    padding-top: 10px;
}
.params-component .params-component-input-container{

}
.price-group-title{
    font-size: 14px;
    line-height: 17px;
    padding: 24px 0;
}
.append-group-price{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 16px;
}
.append-group-price .trigger{
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    color: #109CF1;
    border: 1px solid #109CF1;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.append-group-price .trigger:hover{
    border: 1px solid #34AFF9;
}
.append-group-price .trigger .icon{
    font-size: 18px;
    color: #109CF1;
    padding-right: 15px;
}
.append-group-price .trigger .icon:before{
    color: #109CF1;
}
.param-title{
    font-size: 14px;
    font-weight: 600px;
    line-height: 17px;
}
</style>
