.acl-section{
    max-width: 700px;
    padding: 25px 0;
    overflow-x: auto;
}
.acl-section .t-head .item{
    width: 150px;
    padding-bottom: 15px;
}
.acl-section .t-head .item span{
    padding-left: 5px;
}
.acl-section .t-body-item .item{
    padding-left: 7px;
}
.acl-section .t-head .item.section{
    width: 250px;
}
.acl-section .t-head .item .title{
    padding-left: 10px;
}
.custom-html-container{
    max-width: 100%!important;
}
