<template>
    <div>
        <v-overlay :value="overlay">
            <v-progress-circular
                indeterminate
                size="64"
            ></v-progress-circular>
        </v-overlay>
        <v-data-table
            :headers="headers"
            :items="items"
            :search="search"
            :items-per-page="itemsPerPage"
            :footer-props="{'items-per-page-options': rowsPerPageItems, 'itemsPerPageText' : lang('showed_on_page')}"
            :loading="loading"
            :options.sync="options"
            :server-items-length="total"
            :hide-default-footer="hideFooter"
        >
            <template v-slot:top>
                <div class="top-panel">
                    <div v-if="customHeader" v-html="customHeader"></div>
                    <div v-else class="title-block">
                        <span>{{title}}:</span>
                        <span class="total">{{total}}</span>
                    </div>
                    <div class="search-block" v-if="isSearchable">
                        <v-text-field
                            v-model="search"
                            :placeholder="lang('search')"
                            dense
                            prepend-inner-icon="icon-search"
                        ></v-text-field>
                    </div>
                    <div class="header-blocks-container">
                        <div v-if="showHeaderBlocks()" class="blocks">
                            <template v-for="(block, index) in blocks.action_header">
                                <component class="action-item button-item"
                                           :key="'block_header_component_' + index"
                                           :is="block.component"
                                           :element="block"
                                ></component>
                            </template>
                        </div>
                        <div class="action-block" v-if="routeCreate">
                            <a class="create-btn" :href="routeCreate"><span class="icon-plus"></span></a>
                            <a class="create-link" :href="routeCreate"><span>{{createBtnTitle}}</span></a>
                        </div>
                    </div>
                    <div v-if="showHeaderButtons()" class="action-block">
                        <div class="form-head-actions-block">
                            <template v-for="(button, index) in buttons.action_header">
                                <component class="action-item button-item"
                                           :key="'button_header_component_' + index"
                                           :is="button.component"
                                           :element="button"
                                           @clickButton="handleClickButton"
                                ></component>
                            </template>
                        </div>
                    </div>
                </div>
            </template>
            <template v-for="(header_item, index) in headers" v-slot:[generateSlotID(header_item.value)]="{ item }">
                <component
                    :key="'table_component_' + index"
                    :is="header_item.component"
                    :item="getItemByIndex(item,header_item.value)"
                    :item_obj="item"
                    :data="getData()"
                    @deleteRow="handleDeleteItem"
                ></component>

            </template>

        </v-data-table>

        <v-snackbar v-model="snackBar.show" :timeout="3000" :color="snackBar.color">
            {{ snackBar.text }}
            <template v-slot:action="{ attrs }">
                <v-btn v-bind="attrs" text @click="snackBar.show = false">Close</v-btn>
            </template>
        </v-snackbar>

    </div>
</template>
<script>
    import Sortable from "sortablejs";
    import components from './components/index'
    import blocks from './blocks/index'
    import buttons from '../buttons/index'
    import swal from "vue-sweetalert2";

    let merged = {...components,...buttons, ...blocks,swal};

    export default {
        components: merged,
        name: 'data-table-display',
        props: ['data'],
        data () {
            return {
                overlay: false,
                snackBar: {
                    show: false,
                    text: null,
                    color: null
                },
                search: '',
                headers: this.data.table.headers,
                items: [],
                items_objs: [],
                table: null,
                itemsPerPage: this.data.info.itemsPerPage,
                rowsPerPageItems: this.data.info.rowsPerPageItems,
                hideFooter: this.data.info.hideFooter,
                orderable: this.data.info.orderable,
                isSearchable: this.data.info.is_searchable,
                customHeader: this.data.info.customHeader,
                title: this.data.info.title,
                total: 0,
                routeCreate: this.data.routes.create,
                createBtnTitle: this.data.routes.create_btn_title,
                routeDataTableAsync: this.data.routes.dataTableAsync,
                routeUpdateTableOrder: this.data.routes.updateTableOrder,
                routeUpdateTableItem: this.data.routes.updateTableItem,
                loading: true,
                options: {},
                whereQuery: this.data.where_query,
                buttons: this.data.buttons,
                blocks: this.data.blocks,
            }
        },
        watch: {
            options: {
                handler () {
                    this.getDataFromApi()
                },
                deep: true,
            },
            search(){
                this.getDataFromApi();
            }
        },
        methods: {
            showHeaderBlocks(){
                return this.blocks.action_header && this.blocks.action_header.length;
            },
            showHeaderButtons(){
                return this.buttons.action_header && this.buttons.action_header.length;
            },
            handleDeleteItem (item,path) {
                this.deleteItem(item,path);
            },
            deleteItem (item,path)
            {
                const index = this.items.indexOf(item);
                let message = this.lang('confirm_action');
                confirm( message ) && axios
                    .post(path)
                    .then(response => {
                        location.reload();
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    });
            },
            generateSlotID(id) {
                return `item.${id}`;
            },
            getItemByIndex(item,key)
            {
                return this.items_objs[this.getIndexItem(item)][key];
            },
            getIndexItem(item)
            {
                return this.items.indexOf(item);
            },
            getData()
            {
                return {
                    'snackBar' : this.snackBar,
                    'routeUpdateTableItem' : this.routeUpdateTableItem
                }
            },
            log(msg)
            {
                console.log(msg);
            },
            getDataFromApi () {
                this.loading = true;
                this.options.search = this.search;
               // this.options.itemsPerPage = this.itemsPerPage;
                axios.post(this.routeDataTableAsync + window.location.search, {
                    options:this.options,
                    where_query: this.whereQuery
                })
                    .then(response => {
                        this.items = response.data.table.items,
                        this.items_objs = response.data.table.items_objs,
                        this.total = response.data.table.total,
                        this.loading = false
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                        this.loading = false
                    });
            },
            handleClickButton(button)
            {
                switch (button.action) {
                    case 'service_path' : this.submitServiceAction(button);
                        break;
                }
            },
            submitServiceAction (button)
            {
                this.fireActionSwal(button);
            },
            fireActionSwal(button){
                Vue.use(swal);
                this.$swal({
                    html: button.confirm_message,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
                }).then((result) => {
                    if(result.value) {
                        this.overlay = true;
                        axios.post(button.route_path)
                            .then(response => {
                                this.overlay = false;
                                console.log(response);
                                if(response.data.message){
                                    this.$swal('', response.data.message, 'success')
                                }
                                if(response.data.location_reload){
                                    setTimeout(function (){
                                        location.reload();
                                    },1000);
                                }
                                if(response.data.location_redirect){
                                    setTimeout(function (){
                                        location.href = response.data.location_redirect;
                                    },1000);
                                }
                            })
                            .catch(error => {
                                this.overlay = false;
                                this.$swal(error.response.data.error_txt, error.response.data.message, 'error')
                            });
                    }
                });
            }
        },
        mounted() {
            if(this.orderable)
            {
                this.table = document.querySelector(".v-data-table__wrapper tbody");
                const _self = this;
                Sortable.create(this.table, {
                    handle: ".handle",
                    onEnd({ newIndex, oldIndex}) {
                        const selected = _self.items.splice(oldIndex,1)[0];
                        _self.items.splice(newIndex, 0, selected);
                        axios
                            .post(_self.routeUpdateTableOrder,{items:_self.items})
                            .then(response => {

                            })
                            .catch(error => {
                                console.log(error);
                                this.errored = true;
                            });
                    }
                });
            }
        },
    }
</script>
<style>
    .section-panel-card.v-card{
        box-shadow: unset;
    }
    .section-panel-card .v-data-table tbody tr:hover{
        background-color: #F2F9FF!important;
    }
    .section-panel-card .v-data-table .top-panel,.section-panel-card .v-data-table tbody,.section-panel-card .v-data-table .v-data-footer{
        box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.04);
    }
    .section-panel-card .v-data-table .v-label{
        font-size: 14px;
    }
    .section-panel-card .v-data-table .v-data-table-header{
        background-color: #F5F5F5;
    }
    .top-panel{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 18px 24px 24px;
    }
    .top-panel .title-block span{
        font-size: 12px;
        line-height: 14px;
    }
    .top-panel .title-block span.total{
        font-weight: 600;
    }
    .top-panel .action-block{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-panel .action-block .create-btn{
        text-decoration: unset;
    }
    .top-panel .action-block .create-btn span{
        background-color: #109CF1;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-panel .action-block .create-btn .icon-plus:before{
        color: #fff;
        font-size: 14px;
    }
    .top-panel .action-block .create-link{
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        color: #109CF1;
        text-decoration: unset;
        padding-left: 8px;
    }
    .top-panel .action-block .create-link:hover {
        text-decoration: underline;
    }
    .top-panel .search-block{
        padding: 0px 17px;
        margin: 0px 15px;
        max-width: 380px;
        width: 100%;
        height: 40px;
        background-color: #F5F8FA;
        border-radius: 4px;
    }
    .top-panel .search-block .v-input__slot>.v-text-field__slot{
        font-size: 14px;
    }
    .top-panel .search-block .v-input__slot:before{
        border: unset!important;
    }
    .top-panel .search-block .v-input__icon i{
        font-size: 14px!important;
    }
    .header-blocks-container{
        display: flex;
        align-items: center;
    }
    .header-blocks-container .blocks{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    .header-blocks-container .blocks .action-item{
        padding-right: 25px;
        padding-top: 5px;
    }
</style>
