<template>
    <div class="pa-5">
        <div class="d-flex justify-space-between">
            <div class="mb-2">
                <button class="btn btn-primary" @click="collapseAll">{{lang('collapse_all')}}</button>
                <button class="btn btn-primary ml-1" @click="expandAll">{{lang('expand_all')}}</button>
            </div>
            <div class="mb-2">
                <v-btn v-if="routeCreate" color="primary" dark :href="routeCreate">{{ lang('append') }}</v-btn>
            </div>
        </div>
        <Tree :data="treeData" draggable="draggable" cross-tree="cross-tree" @drag="ondrag" @change="treeChange">
            <div slot-scope="{data, store}">
                <template v-if="!data.isDragPlaceHolder">
                    <v-sheet class="d-flex justify-space-between" color="blue-grey lighten-5">
                        <div class="pl-2">
                            <b v-if="data.children &amp;&amp; data.children.length" @click="store.toggleOpen(data)">{{ data.open ? '-' : '+' }}&nbsp;</b>
                            <span>{{ data.title }}</span>
                        </div>
                        <div class="">
                                <v-btn v-if="data.action.route_view" :href="data.action.route_view" text x-small>
                                    <v-icon small class="">mdi-eye</v-icon>
                                </v-btn>

                                <v-btn v-if="data.action.route_edit" :href="data.action.route_edit" text x-small>
                                    <v-icon small class="">mdi-pencil</v-icon>
                                </v-btn>

                                <v-btn v-if="data.action.route_delete" @click="deleteItem(data)" text x-small>
                                    <v-icon small class="">mdi-delete</v-icon>
                                </v-btn>
                        </div>
                    </v-sheet>
                </template>
            </div>
        </Tree>
    </div>
</template>

<script>
    import {DraggableTree} from 'vue-draggable-nested-tree'
    import * as th from 'tree-helper'

    export default {
        name: 'draggable-nested-tree',
        components: {Tree: DraggableTree},
        props: ['data'],
        data () {
             return {
                 treeData: this.data.items,
                 routeUpdateTree: this.data.route_update_tree,
                 routeCreate: this.data.route_create,
                 maxLevel: this.data.max_level,
             }
        },
        methods: {
            deleteItem (item)
            {
                const index = this.data.items.indexOf(item);
                confirm(this.lang('confirm_action')) && axios
                    .post(item.action.route_delete)
                    .then(response => {
                        this.items.splice(index, 1)
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    });
            },
            treeChange(node, targetTree) {
                let data = {tree: targetTree.getPureData()};
                const qs = require('qs')
                axios
                    .post(this.routeUpdateTree, qs.stringify(data))
                    .then(response => {
                        console.log(response)
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    });
            },
            ondrag(node) {
                const {maxLevel} = this
                let nodeLevels = 1
                th.depthFirstSearch(node, (childNode) => {
                    if (childNode._vm.level > nodeLevels) {
                        nodeLevels = childNode._vm.level
                    }
                })
                nodeLevels = nodeLevels - node._vm.level + 1
                const childNodeMaxLevel = maxLevel - nodeLevels
                //
                th.depthFirstSearch(this.treeData, (childNode) => {
                    if (childNode === node) {
                        return 'skip children'
                    }
                    if (!childNode._vm) {
                        console.log(childNode);
                    }
                    this.$set(childNode, 'droppable', childNode._vm.level <= childNodeMaxLevel)
                })
            },
            expandAll() {
                th.breadthFirstSearch(this.treeData, node => {
                    node.open = true
                })
            },
            collapseAll() {
                th.breadthFirstSearch(this.treeData, node => {
                    node.open = false
                })
            },
        },
    }
</script>
<style>

    .draggable-placeholder{
    }
    .draggable-placeholder-inner{
        border: 1px dashed #0088F8;
        box-sizing: border-box;
        background: rgba(0, 136, 249, 0.09);
        color: #0088f9;
        text-align: center;
        padding: 0;
        display: flex;
        align-items: center;
    }

</style>
