<template>
    <v-app-bar
        app
        clipped-right
    >
        <v-app-bar-nav-icon @click.stop="toggleDrawer" />
        <v-toolbar-title>
            <div class="top-bar-panel">
                <div class="language-select-container">
                    <v-select v-if="languages.length > 1"
                              :items="languages"
                              v-model="current"
                              @change="setLocale"
                              item-value='key'
                              item-text='title'
                              class="language-select"
                              dense
                    >
                        <template v-slot:selection="{ item, index }">
                            <img class="language-icon" :src="item.icon">{{ item.title }}
                        </template>
                        <template v-slot:item="{ item }">
                            <img class="language-icon" :src="item.icon">{{ item.title }}
                        </template>
                    </v-select>
                </div>
                <div class="external-link" v-if="external_link">
                    <a :href="external_link" target="_blank">
                        <span class="icon icon-view"></span>
                    </a>
                </div>
                <div class="profile-preview">
                    <img class="mr-1" :src="moderator.icon">
                    <label>{{moderator.full_name}}</label>
                </div>
                <div class="profile-link">
                    <a :href="moderator.edit_route">
                        <span class="icon icon-Settings"></span>
                    </a>
                </div>
                <div class="profile-link pl-3">
                    <a :href="moderator.logout_route" title="Logout">
                        <span class="icon icon-off"></span>
                    </a>
                </div>
            </div>
        </v-toolbar-title>
        <v-spacer />
        <v-app-bar-nav-icon v-if="moderator.has_full_access" @click.stop="toggleAdminDrawer" />
    </v-app-bar>
</template>
<script>
    export default {
        props: ['data'],
        data(){
            return {
                languages: this.data.languages_data.languages,
                current: this.data.languages_data.current,
                external_link: this.data.external_link,
                route: this.data.languages_data.route,
                moderator: this.data.moderator
            }
        },
        methods: {
          toggleDrawer(){
              this.$store.state.drawer = !this.$store.state.drawer;
          },
          toggleAdminDrawer(){
              this.$store.state.drawerAdmin = !this.$store.state.drawerAdmin;
          },
          setLocale(locale){
              axios
                  .post(this.route, {locale:locale})
                  .then(response => {
                        if(response.data.reload){
                            location.reload();
                        }
                  })
                  .catch(error => {

                  });
          }
        },
        name:'app-bar',
    }
</script>
<style>
.v-toolbar__title{
    width: 100%;
}
.language-select-container{
    margin-top:15px;
    max-height: 100%;
}
.language-select{
    max-width: 160px;
}
.language-select .v-input__slot:before{
    border: unset!important;
}
.language-select .v-input__icon--append i{
    margin-top: 0!important;
}
.language-icon{
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
    border-radius: 50%;
    margin: 0 5px;
}
.language-select-container{
    font-size: 14px;
}
.top-bar-panel{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-bar-panel .profile-preview{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.top-bar-panel .profile-preview img{
    max-width: 32px;
    max-height: 32px;
    object-fit: contain;
    border-radius: 50%;
}
.top-bar-panel .profile-preview label{
    font-size: 14px;
    line-height: 14px;
}
.top-bar-panel .profile-link a{
    text-decoration: unset;
}
.external-link{
    margin: 0 15px;
}
.external-link a{
    text-decoration: unset;
    cursor: pointer;
}
.external-link a:hover span:before{
    color: #1a202c;
}
</style>
