<template>
    <div class="footer-block-wrapper">
        <div class="title"><span>{{ copyright }}</span></div>
    </div>
</template>
<script>
    export default {
        props: ['data'],
        name:'footer-panel',
        data(){
            return {
                copyright: this.data.copyright
            }
        },
    }
</script>
<style>
   .footer-block-wrapper{
       display: flex;
       justify-content: center;
       padding: 24px 0;
   }
   .footer-block-wrapper .title span{
       font-size: 13px;
       line-height: 15px;
       font-weight: normal;
       letter-spacing: 0.03em;
       color: #323C47;
   }
</style>
