<template>
    <div class="head-block-wrapper">
        <div class="title">{{title}}</div>
        <div class="bread-crumbs">
            <template v-for="(item,index) in breadcrumbs">
                <div v-if="index == breadcrumbs.length - 1">
                    <span class="item current">{{item.title}}</span>
                </div>
                <div v-else-if="item.url">
                    <a class="item has-link" :href="item.url">{{item.title}}</a>
                    <span class="separator">/</span>
                </div>
                <div v-else>
                    <span class="item">{{item.title}}</span>
                    <span class="separator">/</span>
                </div>
            </template>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['data'],
        data(){
            return {
                title: this.data.title,
                breadcrumbs: this.data.bread_crumbs
            }
        },
        methods: {
        },
        name:'head-panel',
    }
</script>
<style>
   .head-block-wrapper{
       display: flex;
       justify-content: space-between;
       width: 100%;
       padding: 32px 32px 0 24px;
   }
    .head-block-wrapper .bread-crumbs{
        font-size: 12px;
        line-height: 14px;
        color: #192A3E;
        font-weight: 600;
        display: flex;
        justify-content: flex-end;
    }
    .head-block-wrapper .bread-crumbs .item.current{
        opacity: 0.5;
    }
    .head-block-wrapper .bread-crumbs .item.has-link{
        color: #192A3E;
        cursor: pointer;
    }
    .head-block-wrapper .bread-crumbs .separator{
        padding: 0 5px;
    }
    .head-block-wrapper .title{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: #192A3E;
    }
</style>
