<template>
    <v-list>
        <list-group v-for="(item,index) in items"
                   :key="'list_item_' + index"
                   :item="item"></list-group>
    </v-list>
</template>
<script>
    import ListGroup from "./ListGroup";
    export default {
        components: {ListGroup},
        props: ['items'],
        name: "list-view"
    }
</script>
