<template>
    <v-list-group class="pl-6 pr-3 dashboard-navbar" v-if="children.length">
        <template v-slot:activator>
            <v-list-item-content>
                <nav-item :item="item"></nav-item>
            </v-list-item-content>
        </template>
        <template v-slot:appendIcon>
            <i aria-hidden="true" class="v-icon notranslate mdi mdi-menu-down theme--light"></i>
        </template>
        <v-list-item
            v-if="children.length"
            v-for="subItem in children"
            :key="subItem.title"
            @click=""
        >
            <v-list-item-content>
                <nav-item :item="subItem"></nav-item>
            </v-list-item-content>
        </v-list-item>
    </v-list-group>
    <v-list-item class="pl-6 pr-3 dashboard-navbar"  v-else>
        <v-list-item-content>
            <nav-item :item="item"></nav-item>
        </v-list-item-content>
    </v-list-item>
</template>

<script>
   import NavItem from './NavItem'
    export default {
       components: {NavItem},
        props: ['item'],
        data(){
            return {
                children: this.item.children
            }
    },
        name: "list-group"
    }
</script>
<style lang="sass">
    @import "sass/variables.sass"

    .v-list-item
        padding: $list-item-padding
        min-height: $list-item-min-height

    .v-list
        padding: $list-dense-content-padding

    .v-list-item__content
        padding: $list-item-content-padding

    .v-list-item__content
        cursor: pointer

    .dashboard-navbar .v-list-item__content:hover
        background-color: $list-group-hover-background

    .v-list-group--active
        background-color: $list-group-active-background

    .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon
        min-width: $list-item-icon-min-width

    .v-list-group .v-list-item__icon .v-icon
        color: $list-item-arrow-color
</style>

