<template>
    <v-chip v-if="item" class="rounded" :color="item.color">{{item.title}}</v-chip>
</template>

<script>
    export default {
        props:["item"],
        name: "nav-chip"
    }
</script>
