<template>
    <v-navigation-drawer class="pt-6" v-model="$store.state.drawer" :color="color" app>
        <div class="mx-auto pl-6" :color="color">
            <v-img max-width="155" class="logo-icon" max-height="50" contain :src="logo_path"></v-img>
        </div>

        <div v-for="item in items">
            <div class="group" v-if="item.is_group_title">
                <label class="pl-6 group-title">{{item.title}}</label>
                <list-view :items="item.children"></list-view>
            </div>
            <div class="group" v-else>
                <nav-item class="pl-6" :item="item"></nav-item>
                <list-view :items="item.children"></list-view>
            </div>
        </div>

    </v-navigation-drawer>
</template>
<script>
    import TreeView from './TreeView.vue';
    import ListView from './ListView.vue';
    import NavItem from './NavItem.vue'

    export default {
        components: {TreeView,ListView,NavItem},
        computed: {
            drawer() {
                return this.$store.state.drawer
            }
        },
        props: ['nav_bar'],
        data () {
            return {
                items: this.nav_bar.items,
                logo_path: this.nav_bar.logo_path,
                color: this.nav_bar.color,
                color_active: this.nav_bar.color_active,
                mini: true,
                right: false,
                miniVariant: true,
                expandOnHover: false,
            }
        },
        name: 'navigation-drawer'
    }
</script>
<style scoped>
    .group{
        padding-top: 30px;
    }
    .group-title {
        font-family: 'Oswald';
        font-size: 12px!important;
        line-height: 18px;
        color: rgba(255,255,255,0.7);
        text-decoration: none;
        text-transform: uppercase;
    }
    .logo-icon .v-image__image{
        background-size: contain!important;
    }
</style>
