<template>
    <div class="nav-item" @click="navClick(item.url)">
        <div class="header">
            <div class="icon">
                <span v-if="item.icon"
                    :class="item.icon"
                ></span>
            </div>
            <label class="title">{{item.title}}</label>
        </div>
        <div class="chip">
            <nav-chip :item="item.chip"></nav-chip>
        </div>
    </div>
</template>

<script>
    import NavChip from "./NavChip";
    export default {
        components: {NavChip},
        props: ['item'],
        methods: {
            navClick(url){
                if(url){
                    location.href = url;
                }
            }
        },
        name: "nav-item"
    }
</script>
<style scoped>
    .nav-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-item .header{
        display: flex;
        align-items: center;
    }
    .nav-item .icon {
        width: 15px;
        height: 15px;
        display: block;
        margin-bottom: 2px;
    }
    .nav-item .icon img {
        max-width: 100%;
        object-fit: contain;
    }
    .nav-item .title {
        padding-left: 8px;
        font-size: 14px!important;
        line-height: 16px;
        color: rgba(255,255,255,0.7);
        text-decoration: none;
        cursor: pointer;
    }
</style>
