<template>
    <v-navigation-drawer v-model="$store.state.drawerAdmin" :color="color" app clipped right>

        <tree-view :items="items"></tree-view>

    </v-navigation-drawer>
</template>
<script>
    import TreeView from './TreeView.vue';
    export default {
        components: {TreeView},
        computed: {
            drawer() {
                return this.$store.state.drawerAdmin
            }
        },
        props: ['nav_bar'],
        data () {
            return {
                items: this.nav_bar.items,
                color: this.nav_bar.color,
                color_active: this.nav_bar.color_active,
                mini: true,
                right: false,
                miniVariant: false,
                expandOnHover: false,
            }
        },
        name: 'navigation-drawer-admin'
    }
</script>
