<template>
    <v-treeview
        hoverable
        activatable
        :items="items"
        expand-icon="mdi-chevron-down"
        :item-text="''"
    >
        <template v-slot:prepend="{ item }">
               <nav-item :item="item"/>
        </template>
    </v-treeview>
</template>
<script>
    import NavItem from './NavItem.vue'

    export default {
        components: {NavItem},
        props: ['items'],
        name: 'tree-view'
    }
</script>
