<template>

   <div class="statistic-info-panel">
       <div class="title">
           <span>{{title}}</span>
       </div>
       <div id="chart_container">
           <apexchart  :options="getOptions()" :series="series"></apexchart>
       </div>
   </div>

</template>

<script>

    import VueApexCharts from 'vue-apexcharts';

    export default {
        components: {
            apexchart: VueApexCharts,
        },
        props: ['data'],
        data () {
            return {
                title: this.data.chart.title,
                series: this.data.chart.series,
                chartOptions: this.data.chart.chartOptions
            }
        },
        methods: {
            getOptions(){
                this.chartOptions.tooltip = {
                    y: [{
                        formatter: function (y) {
                            if(typeof y !== "undefined") {
                                return  y.toFixed(0);
                            }
                            return y;

                        }
                    }, {
                        formatter: function (y) {
                            if(typeof y !== "undefined") {
                                return  y.toFixed(0);
                            }
                            return y;

                        }
                    }, {
                        formatter: function (y) {
                            if(typeof y !== "undefined") {

                                return  y.toFixed(0);
                            }
                            return y;

                        }
                    }]
                };
                return this.chartOptions
            }
        },
        mounted() {
            let container = document.getElementById('chart_container');
            container.style.display = 'block';
        },
        name: "statistic-char-panel"
    }
</script>

<style scoped>
#chart_container{
    overflow: hidden;
    display: none;
}
</style>
