<template>
    <div class="statistic-info-panel">
        <div class="title">
            <span>{{title}}</span>
        </div>
        <v-data-table
            hide-default-header
            :headers="headers"
            :items="items"
            :items-per-page="itemsPerPage"
        >
            <template v-slot:item.color="{ item }">
                <div class="color-preview" v-bind:style="{ 'background-color': item.color }"></div>
            </template>
        </v-data-table>
    </div>
</template>
<script>

    export default {
        name: 'statistic-info-panel',
        props: ['data'],
        data () {
            return {
                title: this.data.table.title,
                headers: this.data.table.headers,
                items: this.data.table.items,
                itemsPerPage: this.data.table.itemsPerPage
            }
        },
    }
</script>
