<template>
   <div class="filter-component">
       <div class="header-block">
           <label v-if="head_title">{{head_title}}</label>
           <v-btn v-if="selected" @click="clearParam()" x-small icon color="#192a3e"><v-icon>mdi-close</v-icon></v-btn>
       </div>
       <v-treeview
           shaped
           hoverable
           activatable
           :items="items"
           :value="item"
           :active="item"
           :open="parents"
           active-class="current-filter"
       >
           <template slot="label" slot-scope="{ item }">
               <a @click="addParam(item)" class="label">{{ item.name }}</a>
           </template>
       </v-treeview>
   </div>
</template>
<script>
    export default {
        props: ['element'],
        data () {
            return {
                items: Array.isArray(this.element.items) ? this.element.items : [],
                head_title: this.element.head_title,
                item: this.element.current.item,
                selected: this.element.current.item[0],
                filter_slug: this.element.filter_slug,
                parents: Array.isArray(this.element.current.parents) ? this.element.current.parents : []
            }
        },
        methods: {
            addParam(item){
                /*
                if(item.parent_id == null || (item.children.isArray && item.children.length > 0)){
                    history.pushState({}, '',
                        `?${item.filter_query}`);
                    window.location.reload();
                }
                */

                history.pushState({}, '',
                    `?${item.filter_query}`);
                window.location.reload();
            },
            clearParam(){
                let params = (new URL(document.location)).searchParams;
                params.delete(this.filter_slug);
                history.pushState({}, '', '?' + decodeURIComponent((params.toString() + '').replace(/\+/g, '%20')));
                window.location.reload();
            }
        },
        name: 'filter-tree-component'
    }
</script>
<style>
    .filter-component-block .header-block{
        padding: 16px;
    }
    .filter-component-block .header-block label{
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
        color: #192A3E;
        opacity: 0.5
    }
    .filter-component-block .v-treeview-node{
        border-top: 1px solid #EBEFF2;
    }
    .filter-component-block .v-treeview-node__children .v-treeview-node{
        border-top: unset;
    }
    .filter-component-block .v-treeview-node__level{
        width: 0;
    }
    .filter-component-block .v-treeview-node__root{
        flex-direction: row-reverse;
        min-height: 30px;
    }
    .filter-component-block .v-treeview-node.v-treeview-node--shaped .v-treeview-node__root{
        border-bottom-right-radius: 0!important;
        border-top-right-radius: 0!important;
    }
    .filter-component-block .v-treeview-node__children{
        padding-left: 10px;
    }
    .filter-component-block .v-treeview-node__label .label{
        font-size: 14px;
        font-weight: 600;
        color: #192A3E;
        line-height: 16px;
    }
    .filter-component-block .v-treeview-node__children .v-treeview-node__label .label{
        font-weight: 500;
    }
    .filter-component-block .v-treeview-node__children .v-treeview-node__children .v-treeview-node__label .label{
        font-size: 12px;
        font-weight: normal;
        line-height: 180%;
    }
    .filter-component-block .v-treeview-node__children .v-treeview-node__children .v-treeview-node__children .v-treeview-node__label .label{
        line-height: 150%;
        opacity: 0.7;
    }
    .v-treeview .current-filter .label{
        opacity: 1;
        text-decoration: underline;
    }
</style>
