<template>
   <div class="filter-component">
       <div class="header-block">
           <label v-if="head_title">{{head_title}}</label>
           <v-btn v-if="false && selected" @click="clearParam()" x-small icon color="#192a3e"><v-icon>mdi-close</v-icon></v-btn>
       </div>

       <div class="items-block">
           <div v-for="item in items">
               <div :class="getBlockClass(item)">
                   <div >
                       <v-chip class="round item-color" v-if="item.withChip" :color="item.chipColor"></v-chip>
                       <a @click="addParam(item)" class="label">{{ item.name }}</a>
                   </div>
                   <label class="item-count" v-if="item.withCount">{{item.count}}</label>
               </div>
           </div>
       </div>
   </div>
</template>
<script>
    export default {
        props: ['element'],
        data () {
            console.log(111);
            return {
                items: Array.isArray(this.element.items) ? this.element.items : [],
                head_title: this.element.head_title,
                expansion_title: this.element.expansion_title,
                selected: this.element.current.item[0],
                filter_slug: this.element.filter_slug,
                panel: [0]
            }
        },
        methods: {
            getBlockClass(item){
                return item.id == this.selected ? 'item active' : 'item';
            },
            addParam(item){
                let params = (new URL(document.location)).searchParams;
                params.delete(this.filter_slug);

                if(item.id != this.selected){
                    params.append(this.filter_slug,item.id)
                }

                history.pushState({}, '', '?' + decodeURIComponent((params.toString() + '').replace(/\+/g, '%20')));
                window.location.reload();
            },
            clearParam(){
                let params = (new URL(document.location)).searchParams;
                params.delete(this.filter_slug);
                history.pushState({}, '', '?' + decodeURIComponent((params.toString() + '').replace(/\+/g, '%20')));
                window.location.reload();
            }
        },
        name: 'filter-component'
    }
</script>
<style>
    .filter-component-block .v-expansion-panel-header{
        margin: 16px 24px;
        padding: 0;
        min-height: 32px;
        background-color: #F5F5F5;
        font-size: 12px;
        font-weight: 600;
        color: rgba(25,42,62,1);
        padding: 8px;
        border-radius: 4px;
        width: 100%;
        max-width: 160px;
        background-color: #F5F5F5;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
    }
    .filter-component-block .v-expansion-panel-header .v-expansion-panel-header__icon{
        margin: 0;
    }
    .filter-component-block .v-expansion-panel-content__wrap{
        padding: 0;
    }
    .filter-component-block .header-block{
        padding: 12px 16px 12px 24px;
        border-top: 1px solid #EBEFF2;
    }
    .filter-component-block .header-block label{
        font-size: 14px;
        line-height: 19px;
        font-weight: 600;
        color: rgba(25,42,62,1);
    }
    .filter-component-block .items-block{
        padding-bottom: 16px;
    }
    .filter-component-block .items-block .item .label{
        padding-left: 5px;
    }
    .filter-component-block .items-block .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .filter-component-block .items-block .item.active{
        background-color: #F5F5F5;
        border-radius: 4px;
    }
    .filter-component-block .item-color{
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    .filter-component-block .items-block .item{
        padding: 4px 16px 4px 24px;
        color: rgba(25,42,62,1);
        font-size: 12px !important;
        font-weight: 500!important;
        line-height: 14px!important;
    }
    .filter-component-block .items-block .item a{
        color: rgba(25,42,62,1);
    }
</style>
