<template>
   <div>
       <v-overlay :value="overlay">
           <v-progress-circular
               indeterminate
               size="64"
           ></v-progress-circular>
       </v-overlay>
       <div>
           <a class="download trigger" @click="submitServiceAction(item)"
              :title="tooltip">
               <span class="icon icon-import"></span>
               <span>{{ title }}</span>
           </a>
       </div>
   </div>
</template>
<script>
    import swal from "vue-sweetalert2";

    let merged = {swal};
    export default {
        components: merged,
        props: ['element'],
        data () {
            return {
                overlay: false,
                item: this.element,
                title: this.element.title,
                tooltip: this.element.tooltip,
            }
        },
        methods:{
            submitServiceAction (block)
            {
                this.fireActionSwal(block);
            },
            fireActionSwal(block){
                Vue.use(swal);
                this.$swal({
                    html: block.confirm_message,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
                }).then((result) => {
                    if(result.value) {
                        this.clickedDownload(block);
                    }
                });
            },
            async clickedDownload(block){

                try {
                    this.overlay = true;
                    const response = await fetch(block.route_path);
                    const blob = await response.blob();
                    const url = await URL.createObjectURL(blob);

                    const a = document.createElement("a");
                    a.href = url;
                    a.download = block.filename;

                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    this.overlay = false;
                } catch(err) {
                    this.overlay = false;
                    console.log({ err })
                }
            }
        },
        name: 'download-block-component'
    }
</script>
<style>

</style>
