<template>
   <div>

       <div>
           <a class="download trigger" @click="openModal"
              :title="tooltip">
               <span class="icon icon-descargar"></span>
               <span>{{ title }}</span>
           </a>
       </div>

       <v-row justify="center">

           <v-dialog
               v-model="modal_dialog"
               persistent
               max-width="600px"
           >
               <v-card>

                   <v-overlay :value="overlay">
                       <v-progress-circular
                           indeterminate
                           size="64"
                       ></v-progress-circular>
                   </v-overlay>

                   <v-card-title>
                       <span class="headline"></span>
                   </v-card-title>
                   <v-card-text>
                       <div class="upload-block">
                           <v-file-input
                               show-size
                               label="Select file"
                               @change="onFileChange($event)"
                           ></v-file-input>
                           <a v-if="is_selected_file" class="download trigger" @click="submitServiceAction(item)">
                               <span class="icon icon-descargar"></span>
                               <span>Start Import</span>
                           </a>
                       </div>
                   </v-card-text>
                   <v-card-actions>
                       <v-spacer></v-spacer>
                       <v-btn
                           color="blue darken-1"
                           text
                           @click="closeModalDialog"
                       >{{ lang('close') }}</v-btn>
                   </v-card-actions>
               </v-card>
           </v-dialog>
       </v-row>
   </div>
</template>
<script>
    import swal from "vue-sweetalert2";

    let merged = {swal};
    export default {
        components: merged,
        props: ['element'],
        data () {
            return {
                overlay: false,
                item: this.element,
                title: this.element.title,
                tooltip: this.element.tooltip,
                modal_dialog: false,
                is_selected_file: false,
                attachment : { name : null,file: null }
            }
        },
        methods:{
            openModal(){
                this.modal_dialog = true;
            },
            closeModalDialog(){
                this.modal_dialog = false;
                this.attachment = null;
            },
            submitServiceAction (block)
            {
                this.fireActionSwal(block);
            },
            onFileChange(event) {

                if(event != undefined){
                    this.attachment.name = event.name;
                    this.attachment.file = event;
                    this.is_selected_file = true;
                }
                else {
                    this.attachment.name = null;
                    this.attachment.file = null;
                    this.is_selected_file = false;
                }
            },
            fireActionSwal(block){
                Vue.use(swal);
                this.$swal({
                    html: block.confirm_message,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
                }).then((result) => {
                    if(result.value) {
                        this.overlay = true;
                        let formData = new FormData();
                        formData.append('file',this.attachment.file);
                        formData.append('name',this.attachment.name);
                        axios.defaults.headers.post['Content-Type'] = 'multipart/form-data';
                        axios.post(block.route_path,formData)
                            .then(response => {
                                this.overlay = false;
                                this.onFileChange();

                                if(response.data.message){
                                    this.$swal('', response.data.message, 'success')
                                }
                                if(response.data.location_reload){
                                    setTimeout(function (){
                                        location.reload();
                                    },2000);
                                }
                            })
                            .catch(error => {
                                this.attachment = null;
                                this.overlay = false;
                                this.$swal(error.response.data.error_txt, error.response.data.message, 'error')
                            });
                    }
                });
            }
        },
        name: 'upload-block-component'
    }
</script>
<style>

</style>
