<template>
    <v-row justify="center" v-if="modal_data">
        <v-dialog
            v-model="modal_dialog"
            persistent
            max-width="600px"
        >
            <v-card>
                <v-card-title>
                    <span class="headline"></span>
                </v-card-title>
                <v-card-text>
                    <v-container ref="modal_ref">
                        <template v-for="(element, index) in modal_data.components" >
                            <component-wrapper
                                :key="index"
                                :value="element"
                                :element="element"
                                :index="'modal_component_' + index"
                                @handleInput="handleInput"
                            ></component-wrapper>
                        </template>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue darken-1"
                        text
                        @click="closeModalDialog"
                    >{{ lang('close') }}</v-btn>
                    <v-btn
                        color="blue darken-1"
                        text
                        @click="saveModalData"
                    >{{ lang('save') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <div class="updated_items" v-if="updated"  :key="updated_index">
            <template v-for="updated_item in modal_items">
                <input type="hidden"
                       data-modal-dialog-updated-item
                       :data-value="updated_item.value"
                       :data-model-id="item.id"
                       :data-name="getComponentName(item,updated_item)"
                       :name="getComponentFullName(item,updated_item)"
                       :value="updated_item.value"/>
            </template>
        </div>
    </v-row>
</template>
<script>

export default {
    components: {
        ComponentWrapper: () => import('../../../../../wrappers/FormComponentWrapperComponent')
    },
    props: ['model', 'modal_dialog'],
    data() {
        return {
            item: this.model,
            modal_data: this.model.edit_modal,
            service_method_path: this.model.edit_modal.service_method_path,
            modal_items: this.model.edit_modal.components,
            updated_items: JSON.parse(JSON.stringify(this.model.edit_modal.components)),
            updated_index: this.model.id + '_updated_index',
            updated: this.model.edit_modal.updated,
        }
    },
    methods: {
        getComponentName(model,component){
            return model.relation + '_' + component.field;
        },
        getComponentFullName(model,component){
            return this.getComponentName(model,component) + '[' + model.id + ']';
        },
        handleInput(value,element){
            let index = this.modal_items.indexOf(element);
            this.modal_items[index].value = value;
        },
        getComponentsFieldValue(){
            let fieldValues = {};
            for (let i=0; i < this.modal_items.length; i++ )
            {
                let component = this.modal_items[i];
                fieldValues[component.field] = component.value;
                let updatedItems = document.querySelectorAll('[data-modal-dialog-updated-item]');
                if(updatedItems == undefined){
                    continue;
                }
                for (let j=0; j < updatedItems.length; j++){
                    let name = updatedItems[j].dataset.name;
                    let modelId = updatedItems[j].dataset.modelId;
                    let value = updatedItems[j].dataset.value;
                    if(fieldValues[name] == undefined){
                        fieldValues[name] = {};
                    }
                    fieldValues[name][modelId] = value;
                }
            }
            return fieldValues;
        },
        saveModalData() {

            if(!this.service_method_path){
                this.closeModalDialog();
            }
            let params = this.getComponentsFieldValue();
            params['model_id'] = this.model.id;
            axios
                .post(this.service_method_path,params)
                .then(response => {
                    this.$emit('updateTableData',{tableData:response.data.table_data})
                    this.closeModalDialog();
                })
                .catch(error => {
                    console.log(error);
                    this.closeModalDialog();
                });
        },
        closeModalDialog() {
            this.$emit('closeModalDialog');
        }
    },
    name: 'modal-dialog-component'
}
</script>
