<template>
    <router-view/>
</template>

<script>
    export default {
        computed: {
        },
        components: {
        }
    }
</script>

<style lang="scss">
    /* Import Bootstrap Vue Styles */
    @import '~bootstrap-vue/dist/bootstrap-vue.css';
</style>
