<template>
    <div>
        <a v-if="is_deletable" class="remove trigger" @click="deleteItem()">
            <span class="icon icon-delete"></span>
            <span>{{ lang('delete') }}</span>
        </a>
    </div>
</template>
<script>
    export default {
        props: ['element','model'],
        data () {
            return {
                item: this.model,
                is_deletable: this.model.is_deletable,
            }
        },
        methods: {
            deleteItem ()
            {
                this.$emit('deleteItem',this.item)
            },
        },
        name: 'delete-action-component'
    }
</script>
