<template>
    <div>
        <a v-if="is_editable" class="edit trigger" @click="showModalDialog">
            <span class="icon icon-edit"></span>
            <span>{{ lang('edit') }}</span>
        </a>

        <modal-dialog
        :model="item"
        :modal_dialog="modal_dialog"
        @closeModalDialog="closeModalDialog"
        @updateTableData="handleUpdateTableData($event)"
        ></modal-dialog>

    </div>
</template>
<script>
    import ModalDialog from './modal/ModalDialogComponent';
    export default {
        components: {ModalDialog},
        props: ['element','model'],
        data () {
            return {
                item: this.model,
                is_editable: this.model.is_editable,
                modal_dialog: this.model.edit_modal.modal_dialog
            }
        },
        methods: {
            showModalDialog ()
            {
                this.modal_dialog = true;
            },
            closeModalDialog(){
                this.modal_dialog = false;
            },
            handleUpdateTableData(event){
                this.$emit('updateTableData',event)
            }
        },
        name: 'edit-action-component'
    }
</script>
