<template>
    <div>
        <a class="remove trigger" @click="toggleRow">
            <span class="icon icon-Settings"></span>
            <span>{{ lang('params') }}</span>
        </a>
    </div>
</template>
<script>
    export default {
        props: ['element','model'],
        data () {
            return {
                item: this.model,
                is_deletable: true,
            }
        },
        methods: {
            toggleRow()
            {
                this.$emit('toggleRow',this.item);
            }
        },
        name: 'expand-action-component'
    }
</script>
