<template>
    <v-row :class="htmlAttributes.classes.container" :style="customStyles">
        <v-col v-if="isShowLabel" class="py-0" cols="12" :md="getLabelRows()">
            <div :class="htmlAttributes.classes.label_container">
                <label :class="'form-component-label ' + htmlAttributes.classes.label">{{element.label}}</label>
            </div>
        </v-col>
        <v-col class="py-0" cols="12" :md="getBlockRows()">
            <div :class="'form-component-input-container ' + htmlAttributes.classes.component_container">
                <label :class="htmlAttributes.classes.component_top_help_label" v-if="element.topHelpText">{{element.topHelpText}}</label>
                <component :class="'form-component-input ' + htmlAttributes.classes.component"
                           :key="index"
                           :is="element.component"
                           :value="value"
                           :element="element"
                           @input="handleInput"
                           @clickButton="handleClickButton"
                ></component>
                <label v-if="element.bottomHelpText">{{element.bottomHelpText}}</label>
            </div>
        </v-col>
    </v-row>
</template>

<script>
    import components from '../forms/components/index'

    export default {
        components: components,
        props: ['element','value','index'],
        data () {
            return {
                isShowLabel: this.element.isShowLabel,
                customStyles: this.element.customStyles,
                htmlAttributes: this.element.htmlAttributes,
                rows: this.element.rows,
            }
        },
        methods: {
            getLabelRows()
            {
                return this.rows ? this.rows.label : ( this.element.displayRow ? 12 : 2 );
            },
            getBlockRows()
            {
                return this.rows ? this.rows.block : (this.isShowLabel ? (this.element.displayRow ? 12 : 10) : 12);
            },
            handleInput(element, $event)
            {
                this.$emit('handleInput',element, this.element);
            },
            handleClickButton(item)
            {
                this.$emit('clickButton', item);
            }
        },
        name: "form-component-wrapper-component"
    }
</script>
