<template>
    <v-row :class="element.htmlAttributes.classes.container">
        <template v-for="(col, col_index) in element.columns">
            <v-col :cols="12" :md="col.cols" :class="col.htmlAttributes.classes.container">
                <template v-for="(col_element,sub_index) in col.components">
                    <template v-if="col_element.is_row">
                        <form-row-wrapper-component
                            :element="col_element"
                            :index="'form_component_' + index + col_index + sub_index"
                            :formData="formData"
                            :value="formData[col_element.field]"
                            @clickButton="handleClickButton"
                        ></form-row-wrapper-component>
                    </template>
                    <template v-else-if="col_element.group_components">
                        <div>
                            <div class="border-full-width"></div>
                            <div :class="col_element.htmlAttributes.classes.label_container" v-if="col_element.topHelpText">
                                <div v-html="element.topHelpText"></div>
                            </div>
                            <div class="form-group-components">
                                <template v-for="(group_element, group_index) in col_element.group_components">
                                    <form-component-wrapper-component
                                        :element="group_element"
                                        :index="'form_col_component_' + col_index + '_group_' + group_index"
                                        :value="formData[group_element.field]"
                                        @handleInput="updateForm(group_element, $event)"
                                        @clickButton="handleClickButton"
                                    ></form-component-wrapper-component>
                                </template>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <form-component-wrapper-component
                            :element="col_element"
                            :index="'form_col_component_' + col_index"
                            :value="formData[col_element.field]"
                            @clickButton="handleClickButton"
                        ></form-component-wrapper-component>
                    </template>
                </template>
            </v-col>
        </template>
    </v-row>
</template>

<script>

import FormComponentWrapperComponent from './FormComponentWrapperComponent'

import components from '../forms/components/index';
import buttons from '../buttons/index';

let merged = {...components, ...buttons, FormComponentWrapperComponent};

export default {
    components: merged,
    props: ['element','value','index','formData'],
    data() {
        return {}
    },
    methods: {
        handleInput(element, $event)
        {
            this.$emit('handleInput',element, $event);
        },
        handleClickButton(item)
        {
            this.$emit('clickButton',item);
        }
    },
    name: "form-row-wrapper-component"
}
</script>
