<template>
    <v-label>{{value}}</v-label>
</template>
<script>
    export default {
        props: ['item'],
        data () {
            return {
                value: this.item.value ?? '',
            }
        },
        name: 'column-text-component'
    }
</script>
