<template>
    <v-chip class="wide" :color="color">{{value}}</v-chip>
</template>
<script>
    export default {
        props: ['item'],
        data () {
            return {
                value: this.item.value,
                color: this.item.color,
            }
        },
        name: 'column-chip-component'
    }
</script>
