<template>
    <div>
        <v-btn :color="current_value" width="50" height="20" @click.stop="openModal"></v-btn>
        <v-dialog v-model="dialog" max-width="290">
            <v-card>
                <v-card-text>
                    <v-color-picker
                        v-model="new_value"
                        flat
                    ></v-color-picker>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="closeModal">{{ lang('cancel') }}</v-btn>
                    <v-btn color="green darken-1" text @click="saveModal">{{ lang('save') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
    export default {
        props: ['item','data'],
        data () {
            return {
                new_value: this.item.value,
                current_value: this.item.value,
                dialog: false,
                errorMsg: this.item.error,
                routeUpdateTableItem: this.data.routeUpdateTableItem,
                currentItem: this.item
            }
        },
        methods: {
            openModal(){
                this.dialog = true;
            },
            closeModal(){
                this.dialog = false;
                this.new_value = this.current_value;
            },
            saveModal(){
                this.dialog = false;
                this.current_value = typeof this.new_value == 'string' ? this.new_value : this.new_value.hexa;
                axios
                    .post(this.routeUpdateTableItem, {item:this.currentItem,value:this.current_value})
                    .then(response => {
                        console.log('saved');
                    })
                    .catch(error => {
                        this.value = this.currentItem.value;
                    });
            }
        },
        name: 'column-color-picker-component'
    }
</script>
