<template>
    <v-label class="date-column">{{value}}</v-label>
</template>
<script>
    export default {
        props: ['item'],
        data () {
            return {
                value: this.item.value ?? '',
            }
        },
        name: 'column-date-component'
    }
</script>
<style>
.date-column{
    max-width: 80px;
    justify-content: center;
    align-items: center;
}
</style>
