<template>
    <div v-html="content"></div>
</template>
<script>
    export default {
        props: ['item'],
        data () {
            return {
                content: this.item.content ?? '',
            }
        },
        name: 'column-custom-component'
    }
</script>
