<template>
    <div class="handle"><span class="icon-move"></span></div>
</template>
<script>
    export default {
        props: ['item'],
        data () {
            return {}
        },
        name: 'column-order-component'
    }
</script>
