<template>
    <div class="photo-column-block">
        <img :src="value" class="photo-item">
    </div>
</template>
<script>
    export default {
        props: ['item'],
        data () {
            return {
                value: this.item.value ?? '',
            }
        },
        name: 'column-photo-component'
    }
</script>
<style>
.photo-column-block{
    max-width: 40px;
    max-height: 40px;
    border-radius: 4px;
    border-radius: 1px solid #90A0B7;
}
.photo-column-block .photo-item{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
</style>
