<template>
 <div class="actions-block">

     <div class="edit-block">
         <div v-if="element.route_edit">
             <a  :href="element.route_edit">
                 <span class="icon-edit"></span>
                 <label>{{ lang('edit') }}</label>
             </a>
         </div>
         <div v-else-if="element.route_view">
             <a  :href="element.route_view">
                 <span class="icon-view"></span>
                 <label>{{ lang('view') }}</label>
             </a>
         </div>
     </div>

     <div v-if="element.route_delete" class="delete-block">
         <a  @click="deleteItem">
             <span class="icon-delete"></span>
             <label>{{ lang('delete') }}</label>
         </a>
     </div>

 </div>
</template>
<script>
    export default {
        props: ['item','item_obj'],
        data () {
            return {
                element: this.item
            }
        },
        methods:{
            deleteItem()
            {
                this.$emit('deleteRow',this.item_obj,this.item.route_delete);
            },
        },
        name: 'column-actions-component'
    }
</script>
<style>
    .actions-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .actions-block .edit-block label{
        color: #109CF1
    }
    .actions-block .delete-block label{
        color: #90A0B7
    }
    .actions-block a{
        text-decoration: unset;
        font-size: 12px;
        cursor: pointer;
    }
    .actions-block a label{
        cursor: pointer;
    }
    .actions-block a label:hover{
        text-decoration: underline;
    }
</style>
