<template>
    <div>
        <v-label class="editable-component" height="150" @click.stop="openModal">{{getDateFormatted()}}</v-label>
        <v-dialog v-model="dialog" max-width="290">
            <v-card class="custom-card-container" >
                <v-card-text class="cart-text-container">
                    <vue-datepicker-local
                        v-model="new_value"
                        :local="local"
                        :placeholder="placeholder"
                        :format="format"
                        popupClass="datetimepicker"/>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="closeModal">{{ lang('cancel') }}</v-btn>
                    <v-btn color="green darken-1" text @click="saveModal">{{ lang('save') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
import VueDatepickerLocal from 'vue-datepicker-local'

    export default {
        components: {
            VueDatepickerLocal
        },
        props: ['item','data'],
        data () {
            return {
                new_value: this.item.value,
                current_value: this.item.value,
                dialog: false,
                element: this.item,
                placeholder: this.item.placeholder,
                errorMsg: this.item.error,
                routeUpdateTableItem: this.data.routeUpdateTableItem,
                format: this.item.format ? this.item.format : "YYYY-MM-DD HH:mm:ss",
                local: {
                    dow: 0, // Sunday is the first day of the week
                    hourTip: 'Select Hour', // tip of select hour
                    minuteTip: 'Select Minute', // tip of select minute
                    secondTip: 'Select Second', // tip of select second
                    yearSuffix: '', // suffix of head year
                    monthsHead: 'January_February_March_April_May_June_July_August_September_October_November_December'.split('_'), // months of head
                    months: 'Jan_Feb_Mar_Apr_May_Jun_Jul_Aug_Sep_Oct_Nov_Dec'.split('_'), // months of panel
                    weeks: 'Su_Mo_Tu_We_Th_Fr_Sa'.split('_'),
                    cancelTip: 'cancel',
                    submitTip: 'confirm'
                }
            }
        },
        methods: {
            getDateFormatted(){
                var date = new Date(this.new_value); // Or your date here
                return  date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
            },
            openModal(){
                this.dialog = true;
            },
            closeModal(){
                this.dialog = false;
                this.new_value = this.current_value;
            },
            saveModal(){
                this.dialog = false;
                this.current_value = this.new_value;
                console.log(this.current_value);
                axios
                    .post(this.routeUpdateTableItem, {item:this.element,value:this.current_value})
                    .then(response => {
                        console.log('saved');
                    })
                    .catch(error => {
                        this.current_value = this.element.value;
                    });
            }
        },
        name: 'editable-column-date-time-component'
    }
</script>
<style>
.custom-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.custom-card-container .cart-text-container {
    padding-top: 24px !important;
}
.custom-card-container .cart-text-container .datepicker-popup.datetimepicker{
    position: relative;
}
.editable-component{
    cursor: pointer;
}
</style>

