<template>
<div>
    <v-edit-dialog
        @save="handleEditSave(element)"
        @cancel="handleEditCancel"
        @open="handleEditOpen"
        @close="handleEditClose"
        large
        persistent
    >
        <template>
            <component
                :key="'label_component_' + element.cms_model_id"
                :is="element.label_component"
                :value="value"
                :item="item"
                class="edit-dialog-trigger"
            ></component>
        </template>
        <template v-slot:input>
            <component
                :key="'slot_component_' + element.cms_model_id"
                :is="element.slot_component"
                :item="element"
                class="edit-dialog-input pt-10"
                @changeValue="handleChangeValue"
            ></component>
        </template>
    </v-edit-dialog>
</div>

</template>
<script>
    import components from './editable/index'
    import rules from '../../../validator/rules'

    export default {
        components,
        props: ['item','data'],
        data () {
            return {
                snackBar: this.data.snackBar,
                value: this.item.value,
                element: this.item,
                routeUpdateTableItem: this.data.routeUpdateTableItem,
                isValid: false
            }
        },
        methods: {
            handleChangeValue(value, isValid = true) {
                this.value = value;
                this.isValid = isValid;
            },
            async checkValidate(item)
            {
                if(!this.isValid) return false;

                let errMsg = await rules.getError(item, this.value);
                if(errMsg)
                {
                    this.value = item.value;
                    this.snackBar.show = true;
                    this.snackBar.color = 'error';
                    this.snackBar.text = errMsg;
                    return false;
                }
                return true;
            },
            async handleEditSave(item) {
                let isValid = await this.checkValidate(item);
                if(!isValid) {
                    console.log('not valid data')
                    return ;
                }
                axios
                    .post(this.routeUpdateTableItem, {item:item,value:this.value})
                    .then(response => {
                        this.snackBar.show = true;
                        this.snackBar.color = 'success';
                        this.snackBar.text = 'Data saved';
                    })
                    .catch(error => {
                        this.value = item.value;
                        this.snackBar.show = true;
                        this.snackBar.color = 'error';
                        this.snackBar.text = 'Canceled';
                    });
            },
            handleEditCancel() {
                this.snackBar.show = true;
                this.snackBar.color = 'error';
                this.snackBar.text = 'Canceled';
            },
            handleEditOpen() {
                this.snackBar.show = true;
                this.snackBar.color = 'info';
                this.snackBar.text = 'Dialog opened';
            },
            handleEditClose() {
                console.log('Dialog closed');
            }
        },
        name: 'editable-column-component'
    }
</script>
<style scoped>
.
</style
