<template>
        <v-content>
            <v-container class="fill-height auth-wrapper" fluid>
                <v-row align="center" justify="center">
                    <v-col cols="10" sm="8" md="4">
                        <div class="logo-block" v-if="showLogo">
                            <div class="logo">
                                <img src="/files/vendor/vmd_cms/svg/logo/logo_cms.svg">
                            </div>
                            <div class="title-block">
                                <label class="title">Valmax CMS</label>
                                <label class="version">1.0.0</label>
                            </div>
                        </div>
                        <div class="modal-wrapper">
                            <div class="client-logo">
                                <img src="/files/vendor/vmd_cms/svg/client/logo_auth.svg">
                            </div>
                            <div class="form-wrapper">
                                <v-form ref="form" v-model="valid" lazy-validation method="POST" :action="action" id="login_form">
                                    <input type="hidden" name="_token" :value="token">
                                    <input type="hidden" name="_method" value="POST">
                                    <input type="hidden" name="submit_action" v-model="submitAction" >

                                   <div class="form-group">
                                       <v-label>{{ lang('email_address') }}</v-label>
                                       <v-text-field
                                           solo
                                           placeholder="email"
                                           prepend-inner-icon="icon-message"
                                           height="32"
                                           :value="email"
                                           :rules="emailRules"
                                           name="email"
                                           required
                                       ></v-text-field>
                                   </div>

                                    <div class="form-group">
                                        <v-label>{{ lang('password') }}</v-label>
                                        <v-text-field
                                            class="password-input"
                                            solo
                                            :value="password"
                                            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                            :rules="passwordRules"
                                            :type="showPassword ? 'text' : 'password'"
                                            name="password"
                                            placeholder="Password"
                                            required
                                            @click:append="showPassword = !showPassword"
                                        ></v-text-field>
                                    </div>

                                    <div v-if="error" class="error-block">
                                        <label>{{error}}</label>
                                    </div>

                                    <div class="form-group">
                                        <v-checkbox
                                            v-model="checkbox"
                                            :label="lang('remember_me')"
                                        ></v-checkbox>
                                    </div>

                                    <div class="form-group">
                                        <v-btn class="submit-btn" :disabled="!valid" @click="submit">
                                            <span>{{ lang('enter') }}</span>
                                        </v-btn>
                                    </div>
                                </v-form>
                            </div>
                        </div>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
</template>
<script>

    export default {
        props: ['form'],
        data () {
            console.log(this.form.error);
            return {
                error: this.form.error,
                showLogo: this.form.show_logo ? this.form.show_logo : false,
                action: this.form.action,
                token: this.form.token,
                submitAction: undefined,
                valid: true,
                showPassword: false,
                password: '',
                passwordRules: [
                    v => !!v || 'password is required',
                    v => (v && v.length <= 40) || 'password must be less than 40 characters'
                ],
                email: '',
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
                ],
                checkbox: false,
            }
        },
        methods: {
            validate () {
                this.$refs.form.validate()
            },
            submit () {
                if (this.$refs.form.validate()) {
                    setTimeout(function () {
                        login_form.submit();
                    },100);
                }
            },
        },
        name: 'admin-login-container'
    }
</script>
<style>
    .auth-wrapper{
        background-color: #E5E5E5;
    }
    .logo-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;
    }
    .logo-block .title-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #192A3E;
    }
    .logo-block .title-block .title {
        padding: 10px;
        font-size: 20px;
        line-height: 24px;
    }
    .logo-block .title-block .version {
        font-size: 14px;
        line-height: 16px;
    }
    .modal-wrapper{
        background: #FFFFFF;
        box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-wrapper{
        max-width: 286px;
        padding: 15px;
    }
    input:-internal-autofill-selected{
        background-color: transparent!important;
    }
    .submit-btn{
        background-color: #109CF1!important;
        border-radius: 4px;
        width: 100%;
        height: 40px;
        text-align: center;
    }
    .submit-btn span{
        color: #fff!important;
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
    }
    .password-input{
        padding-left: 10px;
    }
    .auth-wrapper .error-block{
        padding-bottom: 15px;
        font-size: 12px;
        color: #aa3939de;
    }
</style>
