<template>
    <v-select
        :items="options"
        item-value="id"
        item-text="title"
        v-model="current"
        :placeholder="item.placeholder"
        outlined
        @input="handleInput"
        :name="field"
    ></v-select>
</template>

<script>
export default {
    props: ['element','value'],
    data () {
        console.log('constr');
        console.log(this.element);
        return {
            item: this.element,
            options: this.element.options,
            current: this.element.value,
            parent_id: this.element.parent_param_id,
            price_group_id: this.element.price_group_id,
            price_id: this.element.price_id,
            created_price_id: this.element.created_price_id,
            field: null
        }
    },
    mounted() {
        this.field = this.getFieldName();
    },
    watch: {
        created_price_id() {
            this.field = this.getFieldName();
        }
    },
    methods:{
        getFieldName()
        {
            if(this.price_group_id){
                let prefix = this.item.field + (this.price_group_id ? '[' + this.price_group_id + ']' : '[]');
                let price_str = this.price_id ? '[edit][' + this.price_id + ']' : null;
                if(!price_str) price_str = this.created_price_id !== null ? '[create][' + this.created_price_id + ']' : null;
                return  price_str ? prefix + price_str + '[]' : null;
            }else {
                return this.item.field +  (this.price_id ? '[edit][' + this.price_id + '][]' : '[created]['+this.created_price_id+'][]');
            }
        },
        handleInput(value)
        {
            this.$emit('updateParam', {value:value,parent_id:this.parent_id});
        }
    },
    name: "product-price-param-component"
}
</script>
<style>
.v-text-field--enclosed .v-input__append-inner{
    margin-top: 5px;
}
</style>
