<template>
    <div class="max-width-100" :id="wrapper_id" v-if="show">
        <input type="hidden" :name="price_groups_ids_name" :value="group_id">
        <input type="hidden" :name="empty_price_id_name" value="0">
        <div class="price-group-title">
            <label>{{group_title}}</label>
            <a v-if="is_deletable_group" class="remove trigger" @click="deleteGroup()">
                <span class="icon icon-delete"></span>
                <span>{{ lang('delete') }}</span>
            </a>
        </div>
        <div>
            <v-data-table
                :headers="headers"
                :items="items"
                hide-default-footer
            >
                <template v-slot:body="{ items }">
                    <tbody>
                    <template v-for="(item, index) in items">
                            <tr :key="index" class="prices-table-row">
                                <td class="handle">
                                    <span class="icon-move"></span>
                                </td>
                                <td v-for="(prop,field) in item.fields" :key="field">
                                    <component class="form-component-input"
                                               :is="getComponentByIndex(field).component"
                                               :element="getComponentByIndex(field)"
                                               :field_group_key="field_group_key"
                                               :model="item"
                                               :value="prop"
                                               @toggleRow="toggleRow"
                                               @deleteRow="handleDeleteItem"
                                    ></component>
                                </td>
                            </tr>
                        <tr v-if="item.expanded_show">
                            <td :colspan="headers.length">
                                <v-row class="">
                                    <v-col class="py-0 px-4" cols="12" md="6">
                                        <div class="params-component-block">
                                            <template v-for="(expanded_param,index) in item.expanded">
                                                <div class="params-component">
                                                    <div class="params-component-label">
                                                        <span class="param-title">{{expanded_param.label}}</span>
                                                    </div>
                                                    <div class="params-component-input-container">
                                                        <component class="form-component-input"
                                                                   :is="expanded_param.component"
                                                                   :element="expanded_param"
                                                                   :index="'product_price_group_param_' + item.id + '_' + index"
                                                                   @updateParam="updateParamValue($event)"
                                                        ></component>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </v-col>
                                </v-row>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </template>
            </v-data-table>
        </div>
        <v-row class="py-2">
            <v-col class="py-2" cols="12" md="6">
                <div>
                    <span class="param-help-text">{{param_title}}</span>
                </div>
                <div class="params-component-block">
                    <template v-for="(param,index) in params">
                        <div class="params-component">
                            <div class="params-component-label">
                                <span class="param-title">{{param.label}}</span>
                            </div>
                            <div class="params-component-input-container">
                                <component class="form-component-input"
                                           :is="param.component"
                                           :element="param"
                                           :index="'product_price_group_param_' + index"
                                           @updateParam="updateParamValue($event)"
                                ></component>
                            </div>
                        </div>
                    </template>
                </div>
            </v-col>
            <v-col class="py-0" cols="12" md="6">
                <div class="append-group-price">
                    <a v-if="is_creatable" class="trigger" @click="createItem">
                        <span class="icon icon-plus"></span>
                        <span>{{ lang('append') }}</span>
                    </a>
                </div>
            </v-col>
        </v-row>
    </div>
</template>
<script>
    import Sortable from "sortablejs";
    import columns from '../../table_columns/index'
    import ProductPriceParamComponent from './ProductPriceParamComponent'

    export default {
        components: {...columns,ProductPriceParamComponent},
        props: ['element','value'],
        data () {
            return {
                show: true,
                product_id: this.element.product_id,
                group_id: this.element.price_group_id,
                group_title: this.element.group_title,
                price_groups_ids_name: this.element.price_groups_ids_name + '[]',
                is_deletable_group: this.element.is_deletable_group,
                wrapper_id: 'wrapper_group_price_' + this.element.price_group_id,
                field_group_key: this.element.tableData.field_group_key,
                headers: this.element.tableData.headers,
                items: this.element.tableData.items,
                index_items: null,
                empty_item: this.element.tableData.empty_item,
                components: this.element.tableData.components,
                is_deletable: this.element.tableData.is_deletable,
                is_creatable: this.element.tableData.is_creatable,
                params: this.element.params,
                param_title: this.element.bottomHelpText,
                params_selected: [],
                created_price_id: 0,
                route_unique_ppt: this.element.route_unique_ppt,
                table: null,
                empty_price_id_name: 'prices_id[' + this.element.price_group_id + '][empty]'
            }
        },
        mounted(){
            this.index_items = this.items.map((x)=>x);
            this.table = document.querySelector("#" + this.wrapper_id + " .v-data-table__wrapper tbody");
              const _self = this;
              Sortable.create(this.table, {
                  handle: ".handle",
                  onEnd({ newIndex, oldIndex}) {
                      const rowSelected = _self.items.splice(oldIndex,1)[0];
                      _self.items.splice(newIndex, 0, rowSelected);
                  },
                  onRemove: function (/**Event*/evt) {
                      console.log('removed');
                  },
              });
        },
        methods: {
            updateParamValue(value)
            {
                this.params_selected[value['parent_id']] = value;
            },
            getComponentByIndex(index)
            {
                return this.components[index];
            },
            createItem()
            {
                let empty_item = JSON.parse(JSON.stringify(this.empty_item));
                let expanded = empty_item.expanded;
                let param_selected = [...this.params_selected];
                let created_id = this.created_price_id++;
                let selected_values = [];
                for(let parent_id in param_selected)
                {
                    let selected = param_selected[parent_id];
                    for (let expanded_key in expanded)
                    {
                        if(expanded[expanded_key] && expanded[expanded_key]['parent_param_id'] == parent_id)
                        {
                            selected_values.push(selected['value']);
                            expanded[expanded_key]['value'] = selected['value'];
                            expanded[expanded_key]['created_price_id'] = created_id;
                        }
                    }
                }

                axios.post(this.route_unique_ppt, {
                    'product_id': this.product_id,
                    'group_id': this.group_id,
                    'params': selected_values,
                })
                    .then(response => {
                        this.items.push(empty_item);
                    })
                    .catch(error => {
                        console.log(error);
                       return;
                    });

            },
            validateSelectedParams(selected_values)
            {

            },
            toggleRow(item)
            {
                item.expanded_show = !item.expanded_show;
            },
            handleDeleteItem (item) {
                let index = this.index_items.indexOf(item);
                if(confirm(this.lang('confirm_action'))) {
                    this.index_items.splice(index, 1);
                    this.table.children[index].remove();
                }
            },
            deleteGroup()
            {
                this.show = false;
            }
        },
        name: 'product-price-group-component'
    }
</script>
<style scoped>
    .v-data-table__wrapper .form-component-input{
        max-width: 100%;
        text-align: center;
    }
    .handle{
        cursor: move!important;
    }
    .params-component-block{
        padding-top: 16px;
    }
    .expand-block{
        display: none;
    }
    .expand-block.show{
        display: block;
    }
    .param-help-text{
        font-size: 12px;
        line-height: 14px;
        color: #192A3E;
    }
    .params-component{
        display: flex;
    }
    .params-component .params-component-label{
        min-width: 150px;
        max-width: 100%;
       padding-top: 10px;
    }
    .params-component .params-component-input-container{

    }
    .price-group-title{
        font-size: 14px;
        line-height: 17px;
        padding: 24px 0;
    }
    .append-group-price{
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 16px;
    }
    .append-group-price .trigger{
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
        color: #109CF1;
        border: 1px solid #109CF1;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 10px 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .append-group-price .trigger:hover{
        border: 1px solid #34AFF9;
    }
    .append-group-price .trigger .icon{
        font-size: 18px;
        color: #109CF1;
        padding-right: 15px;
    }
    .append-group-price .trigger .icon:before{
        color: #109CF1;
    }
    .param-title{
        font-size: 14px;
        font-weight: 600px;
        line-height: 17px;
    }
</style>
