<template>
    <div>
        <div class="py-3">
            <div class="append-block" @click="toggleAppendMessage" data-append-order-history><span class="icon icon-plus"></span><span class="pl-2">{{appendTitle}}</span></div>
        </div>

        <div v-if="append" class="append-container">
            <v-textarea
                :name="field"
                @input="$emit('input',$event)"
                outlined
                rows="3"
            ></v-textarea>
        </div>

        <div class="action-history-item py-2" v-for="item in items">
            <div class="pb-2">{{item.date}}</div>
            <div class="d-flex align-center">
                <span v-if="item.icon" :class="item.icon + ' icon'"></span>
                <img v-else class="photo" :src="item.photo">
                <span class="pl-3">{{item.title}}</span>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        props: ['element'],
        data () {
            return {
                items: this.element.items,
                appendTitle: this.element.append_title,
                isCreatable: this.element.is_creatable,
                field: this.element.field,
                append: false,
            }
        },
        methods: {
            toggleAppendMessage()
            {
                this.append = !this.append;
            },
        },
        name: 'action-history-component'
    }
</script>
<style>
.append-container{
    max-width: 350px;
}
.append-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: max-content;
}
.append-block,.append-block .icon:before{
    color: #109CF1;
}
.append-block .icon{
    font-size: 18px;
}
.action-history-item .photo{
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
}
.action-history-item .icon{
    font-size: 18px;
}
</style>
