<template>
    <v-alert
        :dense="dense"
        :border="border"
        :type="type"
        :outlined="outlined"
    >
        {{text}}
    </v-alert>
</template>
<script>
    export default {
        props: ['element'],
        data () {
            return {
                item: this.element,
                text: this.element.text,
                type: this.element.type ? this.element.type : 'info',
                border: this.element.border ? this.element.border : 'left',
                dense: this.element.dense ? this.element.dense : false,
                outlined: this.element.outlined ? this.element.outlined : false
            }
        },
        name: 'alert-component'
    }
</script>
