<template>
    <div :class="getComponentClass() + ' async-select-component'">
        <async-select
            inputId="id"
            label="title"
            :options="options"
            :filterable="false"
            @open="onOpen"
            @close="onClose"
            @search="onSearch"
            @input="handleInput"
            v-model="selected_value"
            :rules="rules"
            :error-messages="item.error"
            :outlined="outlined"
            dense
        >
            <template #list-footer>
                <li ref="load" class="loader" v-show="hasMore">
                    Loading more options...
                </li>
            </template>
        </async-select>
        <input type="hidden" :name="item.field" :value="current">
    </div>
</template>
<script>
    import asyncSelect from 'vue-select'
    import rules from '../../../validator/rules'
    import 'vue-select/dist/vue-select.css';

    export default {
        components: {
            asyncSelect: asyncSelect
        },
        props: ['element','value'],
        data () {
            return {
                observer: null,
                asyncMethodPath: this.element.async_method_path,
                limit: this.element.limit,
                offset: this.element.offset,
                hasMore: this.element.has_more,
                loading: false,
                search: '',
                item: this.element,
                selected_value: this.element.value_label,
                hide_details: this.element.hide_details,
                current: this.element.value && this.element.is_id_int ? parseInt(this.element.value) : this.element.value,
                options: this.element.options,
                outlined: this.element.outlined,
                rules: rules.getValidationRules(this.element),
            }
        },
        mounted () {
            /**
             * You could do this directly in data(), but since these docs
             * are server side rendered, IntersectionObserver doesn't exist
             * in that environment, so we need to do it in mounted() instead.
             */
            this.observer = new IntersectionObserver(this.infiniteScroll);
        },
        methods: {
            getComponentClass(){
                return 'custom-select' + (this.hide_details ? ' hide-details' : '');
            },
            handleInput(event){
                this.current = event ? event.id : null;
                this.$emit('input',this.current)
            },
            onSearch(search){
              this.search = search;
              this.fetchOptionsAsync(true);
            },
            async onOpen () {
                if (this.hasMore) {
                    await this.$nextTick();
                    this.observer.observe(this.$refs.load)
                }
            },
            onClose () {
                this.observer.disconnect();
            },
            async infiniteScroll ([{isIntersecting, target}]) {

                if (isIntersecting && this.hasMore) {
                    this.fetchOptionsAsync(false);
                    const ul = target.offsetParent;
                    const scrollTop = target.offsetParent.scrollTop;
                    await this.$nextTick();
                    ul.scrollTop = scrollTop;
                }
            },
            fetchOptionsAsync(refreshQuery = false){
                if(!this.asyncMethodPath || this.loading){
                    return;
                }
                this.loading = true;
                let params = {
                    'search': this.search,
                    'limit': this.limit,
                    'model_id': this.item.cms_model_id
                };
                if(!refreshQuery){
                    params['offset'] = this.offset;
                }
                axios
                    .post(this.asyncMethodPath,params)
                    .then(response => {
                        if(refreshQuery){
                            this.options = response.data.options;
                        }
                        if(!refreshQuery){
                            this.options = this.options.concat(response.data.options);
                        }
                        this.hasMore = response.data.has_more;
                        this.offset = response.data.offset;
                        this.loading = false;
                    })
                    .catch(error => {
                        console.log(error);
                        this.loading = false;
                    });
            }
        },
        name: 'async-select-component'
    }
</script>
<style>
.async-select-component ul{
    padding-left: 0px!important;
    max-height: 150px;
    overflow-y: scroll;
}
</style>
