<template>
    <div :class="getComponentClass()">

        <v-autocomplete
            :items="options"
            item-value="id"
            item-text="title"
            @input="$emit('input',
            $event)"
            @open="onOpen"
            @close="onClose"
            v-model="current"
            :name="field"
            :rules="rules"
            :error-messages="item.error"
            :placeholder="item.placeholder"
            :outlined="outlined"
            dense
            :multiple="multiple"
            :loading="loading"
            :search-input.sync="search"
            cache-items
            chips
            small-chips
            filled
        >

        </v-autocomplete>

    </div>
</template>
<script>

import rules from '../../../validator/rules'

export default {
    props: ['element','value'],
    data () {
        return {
            observer: null,
            item: this.element,
            asyncMethodPath: this.element.async_method_path,
            hide_details: this.element.hide_details,
            current: !this.element.multiple && this.element.value && this.element.is_id_int ? parseInt(this.element.value) : this.element.value,
            options: this.element.options,
            outlined: this.element.outlined,
            multiple: this.element.multiple,
            rules: rules.getValidationRules(this.element),
            loading: false,
            search: null,
            limit: this.element.limit,
            offset: this.element.offset,
            hasMore: this.element.has_more,
            field: this.element.field
        }
    },
    mounted () {
        this.observer = new IntersectionObserver(this.infiniteScroll);
        let el = document.querySelector('input[type="text"][name="' + this.field + '"]');
        if(el != undefined){
            el.setAttribute('name','search_' + this.field);
        }
    },
    watch: {
        search (val) {
            this.search = val;
            this.querySelections(true);
        },
    },
    methods: {
        async onOpen () {
            if (this.hasMore) {
                await this.$nextTick();
                this.observer.observe(this.$refs.load)
            }
        },
        onClose () {
            this.observer.disconnect();
        },
        async infiniteScroll ([{isIntersecting, target}]) {

            if (isIntersecting && this.hasMore) {
                this.querySelections(false);
                const ul = target.offsetParent;
                const scrollTop = target.offsetParent.scrollTop;
                await this.$nextTick();
                ul.scrollTop = scrollTop;
            }
        },
        querySelections (refreshQuery = false) {
            if(!this.asyncMethodPath || this.loading){
                return;
            }
            this.loading = true;
            let params = {
                'search': this.search,
                'limit': this.limit,
                'model_id': this.item.cms_model_id,
                'current': this.current
            };
            if(!refreshQuery){
                params['offset'] = this.offset;
            }
            axios
                .post(this.asyncMethodPath,params)
                .then(response => {
                    if(refreshQuery){
                        this.options = response.data.options;
                    }
                    if(!refreshQuery){
                        this.options = this.options.concat(response.data.options);
                    }
                    this.hasMore = response.data.has_more;
                    this.offset = response.data.offset;
                    this.loading = false;
                })
                .catch(error => {
                    console.log(error);
                    this.loading = false;
                });
        },
        getComponentClass(){
            return 'custom-select' + (this.hide_details ? ' hide-details' : '');
        }
    },
    name: 'autocomplete-component'
}
</script>
<style>
.custom-select ul{
    padding-left: 0px!important;
    max-height: 150px;
    overflow-y: scroll;
}
</style>
