<template>
    <div>
        <template v-for="(button, index) in buttons">
            <component class=""
                       :key="'button_head_component_' + index"
                       :is="button.component"
                       :element="button"
                       @clickButton="handleClickButton"
            ></component>
        </template>
    </div>
</template>
<script>
import rules from '../../../validator/rules'
import buttons from '../../buttons/index'

export default {
    components: buttons,
    props: ['element'],
    data() {
        return {
            item: this.element,
            disabled: this.element.disabled,
            rules: rules.getValidationRules(this.element),
            buttons: this.element.buttons
        }
    },
    methods: {
        handleClickButton(item) {
            this.$emit('clickButton', item);
        }
    },
    name: 'buttons-component'
}
</script>
