<template>
    <div class="checkbox-container">
        <div v-for="(option,index) in options">
            <v-checkbox class="checkbox-item"
                v-model="current"
                :name="item.field + '[]'"
                :label="option.title"
                :key="'form_component_' + index"
                :value="option.id"
                        hide-details
            ></v-checkbox>
        </div>
        <input type="hidden" :name="item.field + '[]'" :value="null">
    </div>
</template>
<script>
    import rules from '../../../validator/rules'

    export default {
        props: ['element','value'],
        data () {
            return {
                item: this.element,
                current: Array.isArray(this.element.value) ? this.element.value : new Array(this.element.value),
                options: this.element.options,
                rules: rules.getValidationRules(this.element),
            }
        },
        name: 'checkbox-component'
    }
</script>
