<template>
       <div class="ck-container max-width-100">
           <ckeditor
                    v-model="item.value"
                    :name="item.field"
                     @input="ck_input"
                     :rules="rules"
                     :label="item.label"
                     tag-name="textarea"
                     :editor="editor"
                     :config="editorConfig">
           </ckeditor>
           <textarea hidden v-model="editor_value" :name="item.field"></textarea>
       </div>
</template>
<script>
    import CKEditor from 'ckeditor4-vue';
    import rules from "../../../validator/rules";

    export default {
        name: 'ckeditor-component',
        props: ['element','value'],
        components: {
            ckeditor: CKEditor.component
        },
        methods:{
          ck_input(val)
          {
              this.$emit('input',val);
              this.editor_value = val;
          }
        },
        data() {
            return {
                item: this.element,
                editor_value: this.element.value,
                rules: rules.getValidationRules(this.element),
                editor: CKEditor,
                editorConfig: {
                    language: this.element.editor_locale,
                    allowedContent: true,
                    autoParagraph: false,
                  //  filebrowserImageBrowseUrl: this.element.browse_path,
                    filebrowserUploadUrl: this.element.upload_path,
                    filebrowserUploadMethod: 'form',
                    image_previewText: ' '
                    // ckfinder: {
                    //     // Upload the images to the server using the CKFinder QuickUpload command.
                    //     // Define the CKFinder configuration (if necessary).
                    //     options: {
                    //         resourceType: 'Images'
                    //     },
                    //     openerMethod: 'popup'
                    // }
                }
            }
        }
    }
</script>
