<template>
    <div>
        <input type="hidden" :name="field" :value="item_value">
        <v-btn :color="item_value" width="50" height="20" @click.stop="openModal"></v-btn>
        <v-dialog v-model="dialog" max-width="290">
            <v-card>
                <v-card-text>
                    <v-color-picker
                        v-model="new_value"
                        flat
                    ></v-color-picker>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="closeModal">{{ lang('cancel') }}</v-btn>
                    <v-btn color="green darken-1" text @click="saveModal">{{ lang('save') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
    import rules from '../../../validator/rules'

    export default {
        props: ['element','value'],
        data () {
            return {
                new_value: this.value ? this.value : '',
                item_value: this.value ? this.value : '',
                dialog: false,
                item: this.element,
                field: this.element.field,
                rules: rules.getValidationRules(this.element),
            }
        },
        methods: {
            openModal(){
                this.dialog = true;
            },
            closeModal(){
                this.dialog = false;
                this.new_value = this.item_value;
            },
            saveModal(){
                this.dialog = false;
                this.item_value = typeof this.new_value == 'string' ? this.new_value : this.new_value.hexa;
            }
        },
        name: 'color-picker-component'
    }
</script>
