<template>
    <component class="custom-component"
               :index="'custom_component'"
               :is="custom_component.component"
               :element="custom_component"
    ></component>
</template>
<script>
    import components from './custom/index'

    export default {
        components,
        props: ['element','value'],
        data () {
            return {
                custom_component: this.element.custom_component
            }
        },
        name: 'custom-component'
    }
</script>
