<template>
    <div class="max-width-100 inner-data-table" :key="tableData.index">
        <div class="action-block-wrapper">
            <div class="action-block" v-if="tableData.is_creatable">
                <div class="add-item" @click="triggerAppend">
                    <a class="create-btn"><span class="icon-plus"></span></a>
                    <a class="create-link"><span>{{ lang('append') }}</span></a>
                    <v-file-input
                        @change="uploadImages"
                        multiple
                        ref="multiple_image_uploader"
                        class="d-none"
                        accept="image/*"
                        v-model="images"
                    ></v-file-input>
                </div>
            </div>
        </div>
        <div>
            <v-data-table
                :headers="tableData.headers"
                :items="tableData.items"
                :options="options"
                hide-default-footer
            >
                <template v-slot:body="{ items }">
                    <tbody :id="tableBodyId">
                    <tr v-for="(item, index) in items" :key="item.index">
                        <td v-if="tableData.is_orderable" class="handle">
                            <span class="icon-move"></span>
                        </td>
                        <td v-for="(prop,field) in item.fields" :key="field">
                            <component class="form-component-input"
                                       :is="getComponentByIndex(field).component"
                                       :element="getComponentByIndex(field)"
                                       :model="item"
                                       :value="prop"
                                       :name="field"
                                       @deleteRow="handleDeleteItem"
                                       @updateTableData="handleUpdateTableData"
                            ></component>
                        </td>
                    </tr>
                    </tbody>
                </template>
            </v-data-table>
        </div>

        <div v-if="showInfoBlock">
            <div v-html="tableData.info"></div>
        </div>

        <div class="deleted_items" :key="deletedBlockIndex">
            <template v-for="deleted_item in deletedItems">
                <input type="hidden"
                       :name="deleted_item.name + '[]'"
                       :value="deleted_item.id"/>
            </template>
        </div>
    </div>
</template>
<script>
    import Sortable from "sortablejs";
    import columns from './table_columns/index'

    export default {
        components: {...columns},
        props: ['element','value'],
        data () {
            return {
                tableData: this.element.tableData,
                field_name: this.element.field,
                id_field_name: this.element.field + '[]',
                table: null,
                images_file_input_name: null,
                has_multiple_image_uploader: this.element.has_multiple_image_uploader,
                images: [],
                deletedItems: [],
                deletedBlockIndex: this.element.tableData.index + '_deleted_items',
                tableBodyId: (Math.random() + Math.random().toString(36).substr(2)).substr(2),
                options:{
                    'itemsPerPage': -1
                }
            }
        },
        mounted(){
          this.table = document.getElementById(this.tableBodyId);
          const _self = this;
          Sortable.create(this.table, {
              handle: ".handle",
              onEnd({ newIndex, oldIndex}) {
                  const rowSelected = _self.tableData.items.splice(oldIndex,1)[0];
                  _self.tableData.items.splice(newIndex, 0, rowSelected);
              },
              onRemove: function (/**Event*/evt) {
                  console.log('removed');
              },
          });

        },
        methods: {
            showInfoBlock(){
                return this.tableData.info != undefined && this.tableData.info != null;
            },
            getComponentByIndex(index)
            {
                return this.tableData.components[index];
            },
            uploadImages()
            {
                if (!Array.isArray(this.images) || this.images.length < 1){
                    return;
                }

                for(let i = 0; i < this.images.length; ++i){

                    let row = this.getEmptyRow();

                    let uploadedImage = this.images[i];

                    for(let propertyName in row.fields) {
                        if(row.fields[propertyName].component == 'column-image-component'){
                            row.fields[propertyName].file = uploadedImage;
                        }
                    }
                    this.tableData.items.push(row);
                }
                this.images = [];
            },
            getEmptyRow()
            {
                let row = JSON.parse(JSON.stringify(this.tableData.empty_item));
                row['index'] = 'item_' + this.tableData.items.length;
                return row;
            },
            triggerAppend(){
              if (this.has_multiple_image_uploader){
                  this.$refs.multiple_image_uploader.$refs.input.click()
              }else {
                  this.createItem();
              }
            },
            createItem()
            {
                if(this.tableData.empty_item.edit_modal != undefined){
                    this.tableData.empty_item.edit_modal.modal_dialog = true;
                }
                this.tableData.items.push(this.getEmptyRow());
            },
            handleDeleteItem (item) {
                confirm(this.lang('confirm_action')) && this.deleteItem(item);
            },
            deleteItem(item){
                let index = this.tableData.items.indexOf(item);
                this.tableData.items.splice(index,1);
                this.deletedItems.push({'id':item.id,'name': 'deleted_' + item.relation})
                this.deletedBlockIndex = this.deletedBlockIndex + '_upd';
            },
            handleUpdateTableData(data){
                this.tableData = data.tableData;
            }
        },
        name: 'data-table-component',
    }
</script>
<style>
    .v-data-table__wrapper .form-component-input{
        max-width: 100%;
        text-align: center;
    }
    .handle{
        cursor: move!important;
    }
    .inner-data-table{
        padding-top: 5px;
    }
    .inner-data-table .action-block-wrapper{
        position: relative;
    }
    .inner-data-table .action-block{
        position: absolute;
        top: -30px;
        right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inner-data-table .action-block .add-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inner-data-table .action-block .add-item .create-btn{
        text-decoration: unset;
    }
    .inner-data-table .action-block .add-item .create-btn span{
        background-color: #109CF1;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inner-data-table .action-block .add-item .create-btn .icon-plus:before{
        color: #fff;
        font-size: 14px;
    }
    .inner-data-table .action-block .create-link{
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        color: #109CF1;
        text-decoration: unset;
        padding-left: 8px;
    }
    .inner-data-table .action-block .create-link:hover {
        text-decoration: underline;
    }
    .inner-data-table .v-text-field__details{
        display: none!important;
    }
    .inner-data-table .v-select .v-input__slot{
        height: 24px;
    }
    .inner-data-table .v-select .v-input__slot{
        height: 24px;
    }
    .inner-data-table .image-uploader.form-component-input{
        max-width: unset;
    }
    .form-component .inner-data-table .form-component-input{
        max-width: 100%;
    }
    .form-component .inner-data-table .form-component-input .v-input__slot{
        justify-content: center;
    }
</style>
