<template>
    <vue-datepicker-local
        v-model="item_value"
        :local="local"
        :placeholder="item.placeholder"
        :format="format"
        :name="field"
        :rules="rules"
        popupClass="datetimepicker"/>
</template>
<script>
import VueDatepickerLocal from 'vue-datepicker-local'
import rules from '../../../validator/rules'

export default {
    components: {
        VueDatepickerLocal
    },
    props: ['element','value'],
    data () {
        return {
            current_value: this.value,
            dialog: false,
            item: this.element,
            item_value: this.element.value,
            format: this.element.format ? this.element.format : 'Y-m-d H:i:s',
            field: this.element.field,
            rules: rules.getValidationRules(this.element),
            local: {
                dow: 0, // Sunday is the first day of the week
                hourTip: 'Select Hour', // tip of select hour
                minuteTip: 'Select Minute', // tip of select minute
                secondTip: 'Select Second', // tip of select second
                yearSuffix: '', // suffix of head year
                monthsHead: 'January_February_March_April_May_June_July_August_September_October_November_December'.split('_'), // months of head
                months: 'Jan_Feb_Mar_Apr_May_Jun_Jul_Aug_Sep_Oct_Nov_Dec'.split('_'), // months of panel
                weeks: 'Su_Mo_Tu_We_Th_Fr_Sa'.split('_'),
                cancelTip: 'cancel',
                submitTip: 'confirm'
            }
        }
    },
    methods: {
        openModal(){
            this.dialog = true;
        },
        closeModal(){
            this.dialog = false;
            this.new_value = this.current_value;
        },
        saveModal(){
            this.dialog = false;
            this.current_value = this.new_value;
        }
    },
    name: 'date-time-picker-component'
}
</script>
<style>
.datetimepicker{
    /*position: fixed!important;*/
}
</style>
