<template>
    <div>
        <div v-if="hasComponents" class="depended-component-block">
                <label v-if="dependedComponent.isShowLabel" class="form-component-label">{{dependedComponent.label}}</label>
                <div>
                    <label v-if="dependedComponent.topHelpText">{{dependedComponent.topHelpText}}</label>
                    <component class="form-component-input"
                               :key="'depended_component_' + current"
                               :is="dependedComponent.component"
                               name="dependedComponent.field"
                               :value="dependedComponent.value"
                               :element="dependedComponent"
                    ></component>
                    <label v-if="dependedComponent.bottomHelpText">{{dependedComponent.bottomHelpText}}</label>
                </div>
        </div>
    </div>
</template>
<script>
    import components from './index_depended'

    export default {
        components: components,
        props: ['element','value'],
        data () {
            return {
                item: this.element,
                depended: this.element.depended_components,
                dependedComponent: null,
                current: this.value,
                hasComponents: false
            }
        },
        mounted() {
            this.hasComponents = this.hasDependedComponent();
        },
        watch: {
            value(val, oldval) {
                this.current = val;
                this.hasComponents = this.hasDependedComponent()
            }
        },
        methods: {
            hasDependedComponent()
            {
                let key = this.current;
                if(!this.depended || !this.depended.components) return false;

                let element = this.depended.components.filter(function(elem){
                    return elem.key == key;
                });
                this.dependedComponent = element[0] ? element[0].component : null;
                return this.dependedComponent ? true : false;
            }
        },
        name: 'depended-component'
    }
</script>
