<template>
    <div :class="getComponentClass()">
        <input type="hidden" data-depended-change-trigger :value="current">
        <v-select
            class="depended-component-trigger"
            :items="options"
            item-value="id"
            item-text="title"
            @input="$emit('input',
            $event)"
            v-model="current"
            @change="changeTrigger"
            :name="item.field"
            :rules="rules"
            :error-messages="item.error"
            :placeholder="item.placeholder"
            :outlined="outlined"
            dense
        ></v-select>

        <component class="form-component-input"
                   key="'depended_component_'"
                   is="depended-component"
                   :value="current"
                   :element="item"
        ></component>
    </div>
</template>
<script>
import rules from '../../../validator/rules'
import DependedComponent from './DependedComponent'

export default {
    components: {
        DependedComponent
    },
    props: ['element','value'],
    data () {
        return {
            item: this.element,
            outlined: this.element.outlined,
            current: this.element.value && this.element.is_id_int ? parseInt(this.element.value) : this.element.value,
            options: this.element.options,
            rules: rules.getValidationRules(this.element)
        }
    },
    methods:{
        changeTrigger(){
          let element = document.querySelector('[data-depended-change-trigger]');
          let evt = document.createEvent("HTMLEvents");
          evt.initEvent("change", false, true);
          element.dispatchEvent(evt);
        },
        getComponentClass(){
            return 'custom-select' + (this.hide_details ? ' hide-details' : '');
        }
    },
    name: 'depended-select-component'
}
</script>
