<template>
    <div class="file-uploader max-width-100">
        <div class="file-preview">
            <input type="hidden" :name="field_path" :value="path"/>
            <input type="hidden" :name="field" :value="path"/>
            <input
                :name="field_file"
                ref="uploader"
                class="d-none"
                type="file"
                @change="changePath"
            >
            <div>
                <a v-if="is_downloadable" :href="download_path" download>
                    <img class="preview" :src="preview_icon"/>
                </a>
                <img v-else class="preview" :src="preview_icon"/>
            </div>

        </div>
        <div class="triggers">
            <a class="upload trigger" @click="triggerUpload">
                <span class="icon icon-folder_open"></span>
                <span>{{upload_text}}</span>
            </a>
            <a v-if="is_downloadable" class="download trigger" :href="download_path" download>
                <span class="icon icon-descargar"></span>
                <span>{{download_text}}</span>
            </a>
            <a v-if="is_deletable" class="remove trigger" @click="triggerDelete">
                <span class="icon icon-delete"></span>
                <span>{{delete_text}}</span>
            </a>
            <span class="help-text">{{help_text}}</span>
        </div>
    </div>
</template>

<script>

    export default {
        props: ['element','value'],
        data () {

            return {
                help_text: this.element.help_text,
                upload_text: this.element.upload_text,
                delete_text: this.element.delete_text,
                download_text: this.element.download_text,
                is_deletable: this.element.is_deletable,
                is_downloadable: this.element.is_downloadable,
                field_file: this.element.field_file,
                field_path: this.element.field_path,
                field: this.element.field,
                path: this.element.path,
                src_preview: this.element.src_preview,
                download_path: this.element.download_path,
                has_preview_icon: this.element.has_preview_icon,
                has_upload_icon: this.element.has_upload_icon,
                upload_file_icon: this.element.upload_file_icon,
                preview_file_icon: this.element.preview_file_icon,
                preview_icon: this.element.is_downloadable ? this.element.preview_file_icon : this.element.upload_file_icon
            }
        },
        methods: {
            triggerUpload() {
                this.$refs.uploader.click();
            },
            triggerDelete() {
                this.is_deletable = false;
                this.is_downloadable = false;
                this.file = null;
                this.path = null;
                this.src_preview = this.src_default;
                this.$refs.uploader.value = null;
                this.preview_icon = this.upload_file_icon;
            },
            changePath(e){
                this.is_deletable = true;
                this.is_downloadable = false;
                this.file = e.target.files[0];
                this.path = this.file ? this.file.name : null;
                this.preview_icon = this.preview_file_icon;
                this.src_preview = this.file ? URL.createObjectURL(this.file) : this.src_default;
            },
        },
        name: 'file-input-component'
    }
</script>
<style scoped>
.file-uploader{
    display: flex;
    flex-wrap: wrap;
}
.file-preview .preview{
    height: 105px;
    width: 105px;
    border-radius: 4px;
    background-color: transparent;
}
.file-preview .preview img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}
.form-component{
    align-items: start;
}
.form-component-input{
    width: 512px;
    max-width: 100%;
}
.triggers{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    justify-content: space-around;
}
.trigger{
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
}
.upload.trigger{
    color: #109CF1;
}
.download.trigger{
    text-decoration: unset;
    color: #90A0B7;
}
.remove.trigger{
    color: #90A0B7;
}
.upload.trigger .icon:before{
    color: #109CF1;
}
.trigger .icon {
    padding-right: 5px;
    font-size: 20px;
}
.help-text{
    padding-top: 15px;
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
    color: #334D6E;
    opacity: 0.7;
}
</style>
