<template>
    <div class="custom-html-container" v-html="html"></div>
</template>
<script>
    export default {
        props: ['element','value'],
        data () {
            return {
                html: this.element.html
            }
        },
        name: 'html-component'
    }
</script>
