<template>
    <div class="image-uploader max-width-100">
        <div class="image-preview">
            <input type="hidden" :name="field_path" :value="path"/>
            <input type="hidden" :name="field" :value="path"/>
            <input
                :name="field_file"
                ref="uploader"
                class="d-none"
                type="file"
                accept="image/*"
                @change="changePath"
            >
            <img class="preview" :src="src_preview"/>
        </div>
        <div class="triggers">
            <a class="upload trigger" @click="triggerUpload">
                <span class="icon icon-folder_open"></span>
                <span>{{upload_text}}</span>
            </a>
            <a class="remove trigger" @click="triggerDelete" v-if="path">
                <span class="icon icon-delete"></span>
                <span>{{delete_text}}</span>
            </a>
            <span class="help-text">{{help_text}}</span>
        </div>
    </div>
</template>
<script>
    import rules from '../../../validator/rules'

    export default {
        props: ['element','value'],
        data () {
            return {
                help_text: this.element.help_text,
                upload_text: this.element.upload_text,
                delete_text: this.element.delete_text,
                path: this.element.path,
                src_preview: this.element.src_preview,
                src_default: this.element.src_default,
                field_path: this.element.field_path,
                field_file: this.element.field_file,
                field: this.element.field,
                placeholder: this.element.placeholder,
                item: this.element,
                rules: rules.getValidationRules(this.element),
                file: null
            }
        },
        methods: {
            triggerUpload() {
                this.$refs.uploader.click();
            },
            triggerDelete() {
                this.file = null;
                this.path = null;
                this.src_preview = this.src_default;
                this.$refs.uploader.value = null;
            },
            changePath(e){
                this.file = e.target.files[0];
                this.path = this.file ? this.file.name : null;
                this.src_preview = this.file ? URL.createObjectURL(this.file) : this.src_default;
            },
        },
        name: 'image-component'
    }
</script>
<style scoped>
    .image-uploader{
        display: flex;
        flex-wrap: wrap;
    }
    .image-preview{
        height: 105px;
        width: 105px;
        border-radius: 4px;
        background-color: #192A3E;
    }
    .image-preview .preview{
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
    }
    .form-component{
        align-items: start;
    }
    .form-component-input{
        width: 512px;
        max-width: 100%;
    }
    .triggers{
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
        justify-content: space-around;
    }
    .trigger{
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
    }
    .upload.trigger{
        color: #109CF1;
    }
    .remove.trigger{
        color: #90A0B7;
    }
    .upload.trigger .icon:before{
        color: #109CF1;
    }
    .trigger .icon {
        padding-right: 5px;
        font-size: 20px;
    }
    .help-text{
        padding-top: 15px;
        font-size: 12px;
        line-height: 14px;
        font-style: italic;
        color: #334D6E;
        opacity: 0.7;
    }
</style>
