<template>
    <v-text-field
            :name="item.field"
            :value="item.value"
            @input="$emit('input',
            $event)"
            :rules="rules"
            :error-messages="item.error"
            :outlined="outlined"
            :disabled="disabled"
            :placeholder="item.placeholder"
            ></v-text-field>
</template>
<script>
    import rules from '../../../validator/rules'

    export default {
        props: ['element'],
        data () {
            return {
                item: this.element,
                outlined: this.element.outlined,
                disabled: this.element.disabled,
                rules: rules.getValidationRules(this.element)
            }
        },
        name: 'input-component'
    }
</script>
