<template>
    <v-text-field
        v-mask="mask"
        :name="item.field"
        :value="item.value"
        @input="$emit('input',
            $event)"
        :rules="rules"
        :error-messages="item.error"
        :outlined="outlined"
        :disabled="disabled"
        :placeholder="item.placeholder"
    ></v-text-field>
</template>
<script>
    import rules from '../../../validator/rules';
    import { mask } from "vue-the-mask";

    export default {
        directives: { mask },
        props: ['element'],
        data () {
            return {
                item: this.element,
                outlined: this.element.outlined,
                mask: this.element.mask,
                disabled: this.element.disabled,
                rules: rules.getValidationRules(this.element)
            }
        },
        name: 'masked-component'
    }
</script>
