<template>
    <v-text-field
        autocomplete="off"
            :name="item.field"
            @input="$emit('input',
            $event)"
            :rules="rules"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show ? 'text' : 'password'"
            :outlined="outlined"
            :value="password"
            placeholder=" "
            @click="show = false"
            @click:append="show = !show"
            ></v-text-field>
</template>
<script>
    import rules from '../../../validator/rules'

    export default {
        props: ['element','value'],
        data () {
            return {
                password: null,
                show: true,
                item: this.element,
                outlined: this.element.outlined,
                rules: rules.getValidationRules(this.element),
            }
        },
        mounted() {
            this.password = null;
        },
        name: 'password-component'
    }
</script>
