<template>
    <v-radio-group class="radio-group" v-model="switchValue" :name="item.field" row>
        <v-radio :label="item.title_on" :value="true"></v-radio>
        <v-radio :label="item.title_off" :value="false"></v-radio>
    </v-radio-group>
</template>
<script>

    export default {
        props: ['element','value'],
        data () {
            return {
                item: this.element,
                switchValue: this.element.value
            }
        },
        name: 'radio-component'
    }
</script>
