<template>
    <div :class="getComponentClass()">
        <v-select
            :items="options"
            item-value="id"
            item-text="title"
            @input="$emit('input',
            $event)"
            v-model="current"
            :name="item.field"
            :rules="rules"
            :error-messages="item.error"
            :placeholder="item.placeholder"
            :outlined="outlined"
            :multiple="multiple"
            dense
        ></v-select>
    </div>
</template>
<script>
    import rules from '../../../validator/rules'

    export default {
        props: ['element','value'],
        data () {
            return {
                item: this.element,
                hide_details: this.element.hide_details,
                current: this.element.value && this.element.is_id_int ? parseInt(this.element.value) : this.element.value,
                options: this.element.options,
                outlined: this.element.outlined,
                multiple: this.element.multiple,
                rules: rules.getValidationRules(this.element),
            }
        },
        methods:{
            getComponentClass(){
                return 'custom-select' + (this.hide_details ? ' hide-details' : '');
            }
        },
        name: 'select-component'
    }
</script>
