<template>
 <div>
     <input v-if="!switchValue" type="hidden" :name="item.field" value="false">
     <v-switch
         :name="item.field"
         v-model="switchValue"
         :value="switchValue"
         class="switch-form-component"
     ></v-switch>
 </div>
</template>
<script>

    export default {
        props: ['element','value'],
        data () {
            return {
                item: this.element,
                switchValue: this.element.value
            }
        },
        name: 'switch-component'
    }
</script>
