<template>
    <div class="text-area-container max-width-100">
        <v-textarea
                    :name="item.field"
                    :value="item.value"
                    @input="$emit('input',$event)"
                    :rules="rules"
                    :auto-grow="true"
                    :outlined="outlined"
        ></v-textarea>
    </div>
</template>
<script>
    import rules from '../../../validator/rules'

    export default {
        props: ['element','value'],
        data () {
            return {
                item: this.element,
                outlined: this.element.outlined,
                rules: rules.getValidationRules(this.element),
            }
        },
        name: 'text-area-component'
    }
</script>
<style>
.textarea-h-60px textarea{
    height: 60px!important;
}
.text-area-container textarea{
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}
</style>
