<template>
    <div>
        <input type="hidden" :name="item.field" :value="current"/>
        <treeselect class="tree-select-container" v-model="current"
                    :multiple="multiple"
                    :options="options"
                    @input="handleInput"
                    :rules="rules"
                    :error-messages="item.error"
                    :placeholder="item.placeholder"
        />
    </div>
</template>
<script>
    import Treeselect from '@riophae/vue-treeselect'
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'
    import rules from '../../../validator/rules'

    export default {
        components: { Treeselect },
        props: ['element','value'],
        data() {
            return {
                item: this.element,
                multiple: this.element.multiple,
                // current: this.element.value && this.element.is_id_int ? parseInt(this.element.value) : (this.element.value ? this.element.value : null),
                current: this.element.value ? this.element.value : null,
                options: this.element.options,
                rules: rules.getValidationRules(this.element)
            }
        },
        methods:{
          handleInput($event){
              this.element.value = $event;
              // this.$emit('input',$event)
          }
        },
        name: 'tree-select-component'
    }
</script>
