<template>
   <div>
       <input type="hidden" :name="component.field" :value="values"/>
       <v-treeview
           v-model="values"
           selectable
           selected-color="red"
           :items="options"
           :selection-type="selection_type"
       >
       </v-treeview>
   </div>
</template>
<script>
    import rules from '../../../validator/rules'

    export default {
        props: ['element','value'],
        data () {
            return {
                component: this.element,
                options: this.element.options,
                selection_type: this.element.selection_type ? this.element.selection_type : "leaf",
                values: this.element.value,
                rules: rules.getValidationRules(this.element),
            }
        },
        name: 'tree-component'
    }
</script>
