<template>
    <div :class="form.htmlAttributes.classes.form_body">
        <template v-for="(element, index) in form.components">
            <template v-if="element.is_row">
                <form-row-wrapper-component
                    :element="element"
                    :index="'form_component_' + index"
                    :formData="formData"
                    :value="formData[element.field]"
                    @handleInput="handleInput"
                    @clickButton="handleClickButton"
                ></form-row-wrapper-component>
            </template>
            <template v-else>
                <template v-if="element.group_components">
                    <div>
                        <div class="border-full-width"></div>
                        <div :class="element.htmlAttributes.classes.label_container" v-if="element.topHelpText">
                            <div v-html="element.topHelpText"></div>
                        </div>
                        <div class="form-group-components">
                            <template v-for="(group_element, group_index) in element.group_components">
                                <form-component-wrapper-component
                                    :element="group_element"
                                    :index="'form_component_' + index + '_group_' + group_index"
                                    :value="formData[group_element.field]"
                                    @handleInput="handleInput"
                                    @clickButton="handleClickButton"
                                ></form-component-wrapper-component>
                            </template>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <form-component-wrapper-component
                        :element="element"
                        :index="'form_component_' + index"
                        :value="formData[element.field]"
                        @handleInput="handleInput"
                        @clickButton="handleClickButton"
                    ></form-component-wrapper-component>
                </template>
            </template>
        </template>
    </div>

</template>

<script>
import wrappers from '../../wrappers/index';
import components from '../components/index';
import buttons from '../../buttons/index';
import rules from '../../../validator/rules';

let merged = {...components, ...buttons, ...wrappers};
export default {
    components: merged,
    props: ['form', 'formData'],
    name: 'form-panel-component',
    methods: {
        handleInput(element, $event) {
            this.$emit('handleInput', element, $event);
        },
        handleClickButton(item) {
            this.$emit('clickButton', item);
        }
    },
}
</script>
<style scoped>
.form-content-body{
    /*max-width: 800px;*/
    width: 100%;
    padding: 0 24px;
}
</style>
