<template>
    <div :class="form.htmlAttributes.classes.form_body">
        <v-tabs v-model="tab">
            <v-tab data-tab-item-component v-for="item in form.tabs" :key="item.key">
                {{ item.title }}
            </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
            <v-tab-item v-for="item in form.tabs" :key="item.key">
                <v-card flat>
                    <v-card-text>
                        <template v-for="(element, index) in item.components">
                            <template v-if="element.is_row">
                                <form-row-wrapper-component
                                    :element="element"
                                    :index="'form_component_' + index"
                                    :formData="formData"
                                    :value="formData[element.field]"
                                    @handleInput="handleInput"
                                    @clickButton="handleClickButton"
                                ></form-row-wrapper-component>
                            </template>
                            <template v-else>
                                <template v-if="element.group_components">
                                    <div>
                                        <div class="border-full-width"></div>
                                        <div :class="element.htmlAttributes.classes.label_container" v-if="element.topHelpText">
                                            <div v-html="element.topHelpText"></div>
                                        </div>
                                        <div class="form-group-components">
                                            <template v-for="(group_element, group_index) in element.group_components">
                                                <form-component-wrapper-component
                                                    :element="group_element"
                                                    :index="'form_component_' + index + '_group_' + group_index"
                                                    :value="formData[group_element.field]"
                                                    @handleInput="handleInput"
                                                    @clickButton="handleClickButton"
                                                ></form-component-wrapper-component>
                                            </template>
                                        </div>
                                    </div>
                                </template>
                                <template v-else>
                                    <form-component-wrapper-component
                                        :element="element"
                                        :index="'form_component_' + index"
                                        :value="formData[element.field]"
                                        @handleInput="handleInput"
                                        @clickButton="handleClickButton"
                                    ></form-component-wrapper-component>
                                </template>
                            </template>
                        </template>
                    </v-card-text>
                </v-card>
            </v-tab-item>
        </v-tabs-items>
    </div>

</template>

<script>
import wrappers from '../../wrappers/index';
import components from '../components/index';
import buttons from '../../buttons/index';
import rules from '../../../validator/rules';

let merged = {...components, ...buttons, ...wrappers};
export default {
    props: ['form', 'formData'],
    components: merged,
    data() {
        return {
            tab: null,
        }
    },
    methods: {
        handleInput(element, $event) {
            this.$emit('handleInput', element, $event);
        },
        handleClickButton(item) {
            this.$emit('clickButton', item);
        }
    },
    name: 'form-tabbed-component'
}
</script>
<style>
.form-content-body {
    max-width: 100%;
    width: 100%;
}
</style>
